<%= form_for(@week) do |f| %>
  <% if @week.errors.any? %>
  <div class="row">
    <div class="col-xs-12">
      <div id="error_explanation">
        <h2><%= pluralize(@week.errors.count, "error") %> prohibited this week from being saved:</h2>
        <ul>
        <% @week.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    </div>
    <div class="col-xs-12 col-md-6">  
      <div class="form-group">
        <%= f.label 'Start Date' %>
        <%= date_field("week", "start_date", min: @week.meet.start_date, max: @week.meet.end_date) %>
        <%= f.hidden_field :meet_id, :value => @meet.id %>
       </div>
       <div class="form-group">
       <%= f.label 'End Date' %>
       <%= date_field("week", "end_date", min: @week.meet.start_date, max: @week.meet.end_date) %>
      </div>
     <div class="form-group">
        <%= f.label :week_number %>
        <%= f.select :week_number, options_for_select(0..100) %>
     </div>
      <div class="form-group">
        <%= f.submit :class => 'btn btn-success btn-sm'%>
        <%= link_to 'Back', @meet, :class => 'btn btn-danger btn-sm' %>
       </div>
     </div>
    </div>
  </div>
<% end %>

