<ol class="breadcrumb">
  <li><%= link_to 'Meet List', meets_path %></li>
  <li><%= link_to @meet.name, @meet %></li>
  <li class="active">Week Of <%= @week.start_date.strftime('%b %d, %Y') %></li>
</ol>
<div class="row">
  <div class="col-xs-12">
    <h2>Race Database For The Week Of <%= @week.start_date.strftime('%b %d, %Y') %></h2>
    <%= link_to 'New TEL', new_tel_path({tel: {:week_id=> @week.id}}), :class => 'btn btn-primary btn-mini' %>
    <% @week.tels.each do |tel| %>
      <div class="col-xs-3 well userbox">
        <%= link_to tel.date.strftime('%A'), tel %>
      </div>
    <% end %>
    <%= link_to 'Reset Races', '/weeks/'+@week.id.to_s+'/reset_races', :method=> :post, :class => 'btn btn-primary btn-mini' %>
  </div>
  <div class="col-xs-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <div class="row">
          <div class="col-xs-12">
            <table class="detailTable table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Interested</th>
                  <th>Confirmed</th>
                  <th style="display: none;">Conditions</th>
                  <th style="display: none;">Distance</th>
                  <th style="display: none;">Category</th>
                  <th style="display: none;">Stakes</th>
                  <th style="display: none;">Date</th>
                  <th>Priority</th>
                </tr>
              </thead>
              <tbody>
                <% @races.each do |race| %>
                  <tr >
                    <td><%= race.name %></td>
                    <td>
                    <span class="badge badge-danger">
                      <%= race.horseraces.where(:status => "Interested").count %>
                    </span>
                  </td>
                  <td>
                    <span class="badge badge-success">
                      <%= race.horseraces.where(:status => "Confirmed").count %>
                    </span>
                  </td>
                    <td style="display: none;">
                      <% if race.conditions.any? %>
                        <% race.conditions.each do |condition| %>
                            | <%= condition.name %> |
                        <% end %>
                      <% else %>
                        | None |
                      <% end %>
                      </td>
                      <% if race.distance <= 1 %>
                        <% if race.distance_type == 'Furlongs' %>
                          <td style="display: none;"><%= race.distance %> Furlong</td>
                        <% else %>
                          <td style="display: none;"><%= race.distance %> Mile</td>
                        <% end %>
                      <% else %>
                        <td style="display: none;"><%= race.distance %> <%= race.distance_type %></td>
                      <% end %>
                      <td style="display: none;"><%= race.category %></td>
                      <td style="display: none;"><%if race.stakes %>Yes<%else%>No<%end%></td>
                      <td style="display: none;">
                        <% if race.category == 'Priority' && race.race_date %>
                          <%= race.race_date.date.strftime('%b %d, %Y') %>
                        <% else %>
                          N/A
                        <% end %>
                      </td>
                      <td>
                        <% if race.category == 'Priority' %>
                          <span class="label label-inverse">Yes</span>
                        <% else %>
                          <span class="label badge-danger">No</span>
                        <% end %>
                      </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  /* Formating function for row details */
  function fnFormatDetails ( oTable, nTr )
  {
    var aData = oTable.fnGetData( nTr );
    var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="inner-table">';
    sOut += '<tr><td>Conditions: </td><td>'+aData[4]+'</td></tr>';
    sOut += '<tr><td>Distance:</td><td>'+aData[5]+'</td></tr>';
    sOut += '<tr><td>Category:</td><td>'+aData[6]+'</td></tr>';
    sOut += '<tr><td>Stakes: </td><td>'+aData[7]+'</td></tr>';
    sOut += '<tr><td>Date:</td><td>'+aData[8]+'</td></tr>';
    sOut += '</table>';
   
    return sOut;
  }
</script>
