<div class="row">
  <div class="col-xs-12">
    <h1>RBP Conditions</h1>
    <%= link_to 'New Condition', new_condition_path, :class => 'btn btn-primary btn-xs' %>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category ID</th>
          <th>Category</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @conditions.each do |condition| %>
          <tr>
            <td><%= condition.name %></td>
            <td><%= condition.category_id %></td>
            <td></td>
            <td>
              <%= link_to 'Show', condition, :class => 'btn btn-primary btn-xs'  %>
              <%= link_to 'Edit', edit_condition_path(condition), :class => 'btn btn-warning btn-xs' %>
              <%= link_to 'Destroy', condition, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



