<p id="notice"><%= notice %></p>

<p>
  <strong>Race:</strong>
  <%= @race_condition.race_id %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @race_condition.condition_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @race_condition.value %>
</p>

<%= link_to 'Edit', edit_race_condition_path(@race_condition) %> |
<%= link_to 'Back', race_conditions_path %>
