<div class="row">
  <div class="col-xs-12">
    <h1>Horse Statuses</h1>
    <% if current_user.admin? %>
      <%= link_to 'New Horse Status', new_horse_status_path, :class => 'btn btn-primary btn-xs'  %>
    <% end %>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <% if current_user.admin? %>
          <th>ID</th>
          <% end %>
          <th>Horse</th>
          <th>Status</th>
          <th>Value</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @horse_statuses.each do |horse_status| %>
          <tr>
            <% if current_user.admin? %>
            <td><%= horse_status.id %></td>
            <% end %>
            <td><%= horse_status.horse.name %></td>
            <td><%= horse_status.status.name %></td>
            <td><%= horse_status.value %></td>
            <td>
              <%= link_to 'Edit', edit_horse_status_path(horse_status), :class => 'btn btn-warning btn-xs' %>
              <%= link_to 'Destroy', horse_status, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
