<p id="notice"><%= notice %></p>

<p>
  <strong>Horse:</strong>
  <%= @horse_status.horse_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @horse_status.status_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @horse_status.value %>
</p>

<%= link_to 'Edit', edit_horse_status_path(@horse_status) %> |
<%= link_to 'Back', horse_statuses_path %>
