<%= form_for(@race) do |f| %>
<div class="row">
  <% if @race.errors.any? %>
  <div class="col-xs-12">
    <div id="error_explanation">
      <h4><%= pluralize(@race.errors.count, "error") %> on page:</h4>
      <ul>
        <% @race.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="col-xs-12" style="margin-bottom: 10px">
    <h4>Conditions: </h4>
      <% if @race.condition_node && @race.id %>
        <p><%= @race.condition_node.getExpressionString %></p>
        <%= f.submit 'Edit Conditions', :class => 'btn btn-primary btn-mini'%>
        <input type="textbox" style="display: none;" name="condition_node_id" class="form-control" value="<%= @race.condition_node.id %>"/>
      <% elsif @race.condition_node %>
        <p><%= @race.condition_node.getExpressionString %></p>
        <input type="textbox" style="display: none;" name="condition_node_id" class="form-control" value="<%= @race.condition_node.id %>"/>
        <%= f.submit 'Edit Conditions', :class => 'btn btn-primary btn-mini'%>
      <% else %>
        <p>None</p>
        <%= f.submit 'Add Conditions', :class => 'btn btn-primary btn-mini'%>
      <% end %>
  </div>
  <div class="col-xs-12 col-md-6">  
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control'%>
    </div>
    <% if @race.id %>
      <div class="form-group"> 
        <% if @race.condition_node %>
          <%= f.label :description %>
          <%= f.text_area :description, :autofocus => true, :value => @race.condition_node.getExpressionString, class: 'form-control'%>
        <% end %>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :weights %>
      <%= f.text_area :weights, :autofocus => true, class: 'form-control'%>
    </div>
    <div class="form-group row">
      <div class="col-xs-3">
        <%= f.label 'Priority' %>
        <input id="race_category" type="checkbox" name="category" <% if @race.category == 'Priority' %> checked <% end %>/>
      </div>
      <div class="col-xs-3">
        <div class="priority_option" <% if @race.category != 'Priority' %> style="display:none" <% end %>>
          <%= f.label 'Stakes Race' %>
          <%= f.check_box :stakes %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="priority_option" <% if @race.category != 'Priority' %> style="display:none" <% end %>>
          <%= f.label 'Race Date' %>
          <% if @race.race_date %>
            <%= date_field("race_date", "date", value: @race.race_date.date) %>
          <% else %>
            <%= date_field("race_date", "date") %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-group">
        <%= f.label "Horse eligibility needs to be determined manually." %>
        <%= f.check_box :hasOtherConditions %> 
    </div>
    <div class="form-group row">
      <div class="nomination_option col-xs-6" <% if !@race.stakes %> style="display:none" <% end %>>
        <%= f.label 'Needs Nomination' %>
        <%= f.check_box :needs_nomination %>
      </div>
      <div class="col-xs-6 nomination_close" <% if !@race.needs_nomination %> style="display:none" <% end %>>
        <%= f.label 'Nomination Close Date' %>
          <% if @race.nomination_close_date %>
            <%= date_field("nomination_close_date", "date", value: @race.nomination_close_date.date) %>
          <% else %>
            <%= date_field("nomination_close_date", "date") %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="form-group row">
      <div class="col-xs-6">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(["Published", "Draft"], @race.status) %>
      </div>
      <div class="col-xs-6">
        <%= f.label :purse %>
        <%= f.text_field :purse, :autofocus => true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-12">
        <%= f.label 'Distance' %>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-4">
            <input id="distance" type="textbox" name="distance" class="form-control" value="<%= @race_distance.distance %>" style="width: 100px;"/>
          </div>
          <div class="col-xs-4">
            <select id="fraction_string" name="fraction_string" value="<%= @race_distance.fraction_string %>" style="width: 100px;">
               <option ></option>
              <option value="1/16" <% if @race_distance.fraction_string == '1/16'%>selected<% end%>>1/16</option>
              <option value="1/8" <% if @race_distance.fraction_string == '1/8'%>selected<% end%>>1/8</option>
              <option value="1/4" <% if @race_distance.fraction_string == '1/4'%>selected<% end%>>1/4</option>
              <option value="1/2" <% if @race_distance.fraction_string == '1/2'%>selected<% end%>>1/2</option>
              <option value="3/4" <% if @race_distance.fraction_string == '3/4'%>selected<% end%>>3/4</option>
              <option value="3/8" <% if @race_distance.fraction_string == '3/8'%>selected<% end%>>3/8</option>
              <option value="5/8" <% if @race_distance.fraction_string == '5/8'%>selected<% end%>>5/8</option>
            </select>
          </div>
          <div class="col-xs-4">
            <select id="distance_type" name="distance_type" value="<%= @race_distance.distance_type %>" style="width: 100px;">
              <option value="F" <% if @race_distance.distance_type == "F"%>selected<% end%>>Furlongs</option>
              <option value="M" <% if @race_distance.distance_type == "M"%>selected<% end%>>Miles</option>
              <option value="Y" <% if @race_distance.distance_type == "Y"%>selected<% end%>>Yards</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-xs-12" style="margin-top: 20px;">
        <div class="row">
          <div class="col-xs-6">
            <%= f.label 'Needs Additional Yards' %>
            <input id="showYards" type="checkbox" class="form-control" style="width: 30px; display:inline;" <% if @race_distance.yards %> checked="checked" <% end %>/>
          </div>
          <div class="col-xs-4" id="yardsDiv" <% if !@race_distance.yards %>style="display:none;" <% end %>>
            <%= f.label 'Yards' %>
            <input id="yards" type="textbox" name="yards" class="form-control" value="<%= @race_distance.yards %>" style="width: 100px;"/>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-6">
        <%= f.label 'Max Field Size' %>
        <% if @race.max_field_size %>
          <%= f.select :max_field_size, options_for_select(1..20, @race.max_field_size) %>
        <% else %>
          <%= f.select :max_field_size, options_for_select(1..20, 12) %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <%= f.label :race_type %>
        <%= f.select :race_type, options_for_select(["Stakes", "Claiming", 
          "Allowance", "Allowance Optional Claiming", "Maiden Special Weight",
          "Maiden Claiming", "Maiden Optional Claiming"], @race.race_type), {:include_blank => '--Select Race Type--'} %>
        </div>
      </div>
      <div class="form-group row">
        <div id="claiming_prices" 
        <% if (@race.race_type != 'Claiming') && (@race.race_type != 'Allowance Optional Claiming') && (@race.race_type != 'Maiden Claiming')%> style="display:none" <% end %>>
        <div class="col-xs-12">
          <%= f.label 'Claiming Prices' %><p>(Enter a claiming price, click the checkbox below if you need a lower claiming price aswell.)</p>
        </div>
        <div class="col-xs-12">
          <div class="row">
          <div class="col-xs-2">
            <input id="showClaiming" type="checkbox" class="form-control" <% if @claiming_one.price %> checked="checked" <% end %>/>
          </div>
          </div>
        </div>
        <div class="col-xs-6">
          <%= f.label 'Lower Claiming' %>
          <input id="claiming_one" type="textbox" name="claiming_one" class="form-control" value="<%= @claiming_one.price%>" <% if !@claiming_one.price %> disabled <% end %>/>
        </div>
        <div class="col-xs-6">
          <%= f.label 'Upper Claiming' %>
          <input type="textbox" name="claiming_two" class="form-control" value="<%= @claiming_two.price%>"/>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group col-xs-12">
    <%= f.submit 'Save', :class => 'btn btn-success btn-sm'%>
    <%= f.submit 'Save and Duplicate', :class => 'btn btn-primary btn-sm'%>
    <%= link_to 'Back', races_path, :class => 'btn btn-danger btn-sm' %>
  </div>
  <% end %>
