<%= form_for(@race) do |f| %>
  <% if @race.errors.any? %>
  <div class="row">
    <div class="col-xs-12">
      <div id="error_explanation">
        <h2><%= pluralize(@horse.errors.count, "error") %> prohibited this race from being saved:</h2>
        <ul>
        <% @horse.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    </div>
    <div class="col-xs-12 col-md-6">  
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, :autofocus => true, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, :autofocus => true, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(["Draft", "Published"]) %>
      </div>
      <div class="form-group">
        <%= f.label :cateogry %>
        <%= f.select :category, options_for_select(["Protocol", "Stakes", "Alternate"]) %>
      </div>
      <div class="form-group">
        <%= f.label :distance_type %>
        <%= f.select :distance_type, options_for_select(["Furlongs", "Miles"]) %>
      </div>
      <div class="form-group">
        <%= f.label :distance %>
        <%= f.text_field :distance, :autofocus => true, class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= f.submit :class => 'btn btn-success btn-sm'%>
        <%= link_to 'Back', races_path, :class => 'btn btn-danger btn-sm' %>
      </div>
    </div>
  </div>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen"
     href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
    </script>
<% end %>
