<div class="page-info" horse="<%=@horse.id%>" 
  <% if @age %>
    age="<%= @age.id %>" 
  <%end%>
  <% if @wins %>
    win="<%= @wins.id %>" 
  <%end%>
  <% if @gender %>
    gender="<%= @gender.id %>" 
  <%end%>
  <% if @lower_claiming %>
    lower-claiming="<%=@lower_claiming%>" 
  <%end%>
  <% if @upper_claiming %>
    upper-claiming="<%=@upper_claiming%>" 
  <%end%>
  <% if @noWinsSince %>
    noWinsSince="<%= @noWinsSince.id %>" 
  <%end%>
></div>
<div><%= link_to 'Horse Profile', @horse, :class => 'btn btn-success btn-xs'%></div>
<div class="col-xs-2">
  <p>
  <% if @age %>
    Age <%= collection_select(:menu, :age_id, @ageList, :id, :name, {:selected => @age.id, :include_blank => 'None'}) %>
  <% else %>
    Age <%= collection_select(:menu, :age_id, @ageList, :id, :name, {:prompt => 'None'}) %>
  <% end %>
  </p>
</div>
<div class="col-xs-2">
  <p>
  <% if @wins %>
    Wins <%= collection_select(:menu, :wins_id, @winList, :id, :name, {:selected => @wins.id, :include_blank => 'None'}) %>
  <% else %>
    Wins <%= collection_select(:menu, :wins_id, @winList, :id, :name, {:prompt => 'None'}) %>
  <% end %>
  </p>
</div>
<div class="col-xs-2">
  <p>
  <% if @gender %>
    Gender <%= collection_select(:menu, :gender_id, @genderList, :id, :name, {:selected => @gender.id, :include_blank => 'None'}) %>
  <% else %>
    Gender <%= collection_select(:menu, :gender_id, @genderList, :id, :name, {:prompt => 'None'}) %>
  <% end %>
  </p>
</div>
<div class="col-xs-2">
  <p>
  <% if @noWinsSince %>
    No Wins Since <%= collection_select(:menu, :noWinsSince_id, @noWinsSinceList, :id, :name, {:selected => @noWinsSince.id, :include_blank => 'None'}) %>
  <% else %>
    No Wins Since <%= collection_select(:menu, :noWinsSince_id, @noWinsSinceList, :id, :name, {:prompt => 'None'}) %>
  <% end %>
  </p>
</div>
<div class="col-xs-2">
  <% if @lower_claiming %>
  Lower Claiming Level <%= select_tag "Lower Claiming Level", options_for_select(@claiming_levels, @lower_claiming), :prompt => 'None' %>
  <% else %>
    Lower Claiming Level <%= select_tag "Lower Claiming Level", options_for_select(@claiming_levels), :prompt => 'None'  %>
  <% end %>
</div>
<div class="col-xs-2">
  <% if @upper_claiming %>
  Upper Claiming Level <%= select_tag "Upper Claiming Level", options_for_select(@claiming_levels, @upper_claiming), :prompt => 'None' %>
  <% else %>
    Upper Claiming Level <%= select_tag "Upper Claiming Level", options_for_select(@claiming_levels), :prompt => 'None'  %>
  <% end %>
</div>
<table id="racelist-table" class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th># Interested</th>
      <th>Purse</th>
      <th>Claiming Level</th>
      <th>I/C</th>
    </tr>
  </thead>
  <tbody>
    <% if @races %>
      <% @races.each do |race| %>
  			<tr class="top">
  			  <% @horserace = Horserace.find_or_create_by!(:race_id => race.id, :horse_id => @horse.id) %>
  				<td><%= race.name %></td>
  				<td><%= race.description %></td>
  				<td><%= race.horseraces.where(:status => "Interested").count %></td>
  				<td>
            <% if race.claiming_purse? %>
              <%= number_to_currency(race.claiming_purse, precision: 2) %>
            <% else %>
              <%= number_to_currency(0, precision: 2) %>
            <% end %>
          </td>
          <td>
            <% if race.claiming_level? %>
              <%= number_to_currency(race.claiming_level, precision: 2) %>
            <% else %>
              <%= number_to_currency(0, precision: 2) %>
            <% end %>
          </td>
  				<% if @horserace.status == "Confirmed" %>
  					<td>C</td>
  				<% else %>
  					<td ><%= form_for(@horserace)  do |f| %>
  								<%= check_box("horserace", "status", {}, "Interested", "") %> / 
  							<% end %>
  							<%= form_for(@horserace)  do |f| %>
  								<%= check_box("horserace", "status", {:class => 'confirm_racestatus'}, "Confirmed", "") %>
  							<% end %>
  					</td>
  				<% end %>
  			</tr>
  		<% end %>
    <% end %>
  </tbody>
</table>