<div class="row">
    <div class="page-info" horse="<%=@horse.id%>" 
        <% if @age %>
        age="<%= @age.id %>" 
        <%end%>
        <% if @wins %>
        win="<%= @wins.id %>" 
        <%end%>
        <% if @sex %>
        sex="<%= @sex.id %>" 
        <%end%>
        <% if @lower_claiming %>
        lower-claiming="<%=@lower_claiming%>" 
        <%end%>
        <% if @upper_claiming %>
        upper-claiming="<%=@upper_claiming%>" 
        <%end%>
        <% if @noWinsSince %>
        noWinsSince="<%= @noWinsSince.id %>" 
        <%end%>
        <% if @distance %>
        distance="<%= @distance %>" 
        <%end%>
    </div>  
    <div class="col-xs-12 well">
        <h4>Showing Races for <%= @horse.name %></h4>
        <p>Use the dropdowns to filter down races and find your desired race!</p>
        <%= link_to 'View Horse', @horse, :class => 'btn btn-success btn-mini' %>
    </div>
    <div class="col-xs-12 well">
        <div class="row race-menu-selectors">
            <div class="col-xs-6">
                <div class='row'>
                    <div class="col-xs-3 center">
                        <% if @age %>
                        <p>Age</p>
                         <%= collection_select(:menu, :age_id, @ageList, :id, :name, {:selected => @age.id, :include_blank => 'All'}) %>
                        <% else %>
                        <p>Age</p>
                         <%= collection_select(:menu, :age_id, @ageList, :id, :name, {:prompt => 'All'}) %>
                        <% end %>
                    </div>
                    <div class="col-xs-3 center">
                        <% if @sex %>
                        <p>Sex</p>
                         <%= collection_select(:menu, :sex_id, @sexList, :id, :name, {:selected => @sex.id, :include_blank => 'All'}) %>
                        <% else %>
                       <p>Sex</p>
                        <%= collection_select(:menu, :sex_id, @sexList, :id, :name, {:prompt => 'All'}) %>
                        <% end %>
                    </div>
                    <div class="col-xs-3 center">
                        <% if @wins %>
                        <p>Conditions</p>
                         <%= collection_select(:menu, :wins_id, @winList, :id, :name, {:selected => @wins.id, :include_blank => 'All'}) %>
                        <% else %>
                        <p>Conditions</p>
                         <%= collection_select(:menu, :wins_id, @winList, :id, :name, {:prompt => 'All'}) %>
                        <% end %>
                    </div>
                    <div class="col-xs-3 center">
                        <% if @noWinsSince %>
                        <p>No Wins Since</p>
                         <%= collection_select(:menu, :noWinsSince_id, @noWinsSinceList, :id, :name, {:selected => @noWinsSince.id, :include_blank => 'None'}) %>
                        <% else %>
                        <p>No Wins Since</p>
                         <%= collection_select(:menu, :noWinsSince_id, @noWinsSinceList, :id, :name, {:prompt => 'None'}) %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-4 center">
                        <% if @distance %>
                        <p>Distances</p>
                         <%= select_tag "Distances", options_for_select(['Short', 'Long'], @distance), :prompt => 'All' %>
                        <% else %>
                        <p>Distances</p> <%= select_tag "Distances", options_for_select(['Short', 'Long']), :prompt => 'All'  %>
                        <% end %>
                    </div>
                    <div class="col-xs-4 center">
                        <% if @lower_claiming %>
                        <p>Lower Claiming</p>
                         <%= select_tag "Lower Claiming", options_for_select(@claiming_prices, @lower_claiming), :prompt => 'None' %>
                        <% else %>
                        <p>Lower Claiming</p>
                         <%= select_tag "Lower Claiming", options_for_select(@claiming_prices), :prompt => 'None'  %>
                        <% end %>
                    </div>
                    <div class="col-xs-4 center">
                        <% if @upper_claiming %>
                        <p>Upper Claiming</p>
                         <%= select_tag "Upper Claiming", options_for_select(@claiming_prices, @upper_claiming), :prompt => 'None' %>
                        <% else %>
                        <p>Upper Claiming</p>
                         <%= select_tag "Upper Claiming", options_for_select(@claiming_prices), :prompt => 'None'  %>
                        <% end %>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="grid simple">
            <div class="grid-body no-border">
                <div class="row">
                    <div class="col-xs-12">
                        <table id="racelist-table" class="genericTable table table-condensed table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Claiming Price</th>
                                    <th>Distance</th>
                                    <th># Interested</th>
                                    <th># Confirmed</th>
                                    <th style="display: none;">Conditions</th>
                                    <th style="display: none;">Description</th>
                                    <th>Priority</th>
                                    <th>Interested / Confirmed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if @races %>
                                    <% @races.each do |race| %>
                                        <tr class="top">
                                            <% @horserace = Horserace.find_or_create_by!(:race_id => race.id, :horse_id => @horse.id) %>
                                            <td><%= race.name %></td>
                                            <td>
                                            <% if race.claiming_prices[0] &&  race.claiming_prices[0].price%>
                                                <% if race.claiming_prices[1] && race.claiming_prices[1].price %>
                                                    <% if race.claiming_prices[0].price >= race.claiming_prices[1].price %>
                                                        <%= number_to_currency(race.claiming_prices[0].price, precision: 2) %> - <%= number_to_currency(race.claiming_prices[1].price, precision: 2) %>
                                                    <% else %>
                                                        <%= number_to_currency(race.claiming_prices[1].price, precision: 2) %> - <%= number_to_currency(race.claiming_prices[0].price, precision: 2) %>
                                                    <% end %>
                                                <% else %>
                                                    <%= number_to_currency(race.claiming_prices[0].price, precision: 2) %>
                                                <% end %>
                                            <% elsif race.claiming_prices[1] && race.claiming_prices[1].price %>
                                                <%= number_to_currency(race.claiming_prices[1].price, precision: 2) %>
                                            <% end %>
                                            </td>
                                            <% if race.distance %>
                                                <% if race.distance <= 1 %>
                                                    <% if race.distance_type == 'Furlongs' %>
                                                        <td><%= race.distance %> Furlong</td>
                                                    <% elsif race.distance_type == 'Yards'%>
                                                        <td><%= race.distance %> Yard</td>
                                                    <% else %>
                                                        <td><%= race.distance %> Mile</td>
                                                    <% end %>
                                                <% else %>
                                                    <td><%= race.distance %> <%= race.distance_type %></td>
                                                <% end %>
                                            <% else %>
                                                <td>N/A</td>
                                            <% end %>
                                            <td><span class="badge badge-danger">
                                                <%= race.horseraces.where(:status => "Interested").count %></span>
                                            </td>
                                            <td><span class="badge badge-success">
                                                <%= race.horseraces.where(:status => "Confirmed").count %></span>
                                            </td>
                                            <td style="display: none;">
                                                <% conditions = race.conditions %>
                                                <% if conditions.any? %>
                                                    <% conditions.each do |condition| %>
                                                        | <%= condition.name %> |
                                                    <% end %>
                                                <% else %>
                                                    None
                                                <% end %>
                                            </td>
                                            <td style="display: none;"><%= race.description %></td>
                                            <td>
                                                <% if race.category == 'Priority' %>
                                                    <span class="label label-inverse">Yes</span>
                                                <% else %>
                                                    <span class="label badge-danger">No</span>
                                                <% end %>
                                            </td>
                                            <% if @horse.status.name == 'Vet\'s List' || @horse.status.name == 'Steward\'s List' %>
                                                <td><%= @horse.status.name %></td>
                                            <% else %>
                                                <% if race.stakes && race.needs_nomination %>
                                                    <td>
                                                    <% if @horserace.status == "Confirmed" %>
                                                        Confirmed: 
                                                          <%= form_for(@horserace) do |f| %>
                                                            <%= check_box("horserace", "status", {:id => 'confirm_racestatus'}, "Confirmed", "") %>
                                                          <% end %>
                                                    <% elsif @horserace.status == "Denied" %>
                                                        Denied
                                                    <% elsif Notification.where(:action => "Confirm Nomination", :recv_id => @horse.id, :send_id => race.id).any? %>
                                                        Waiting Confirmation
                                                    <% elsif Notification.where(:action => "Nominate", :recv_id => @horse.id, :send_id => race.id).any? %>
                                                        Nomination Sent 
                                                    <% else %>
                                                        <button class="nominate_horse" horse="<%=@horse.id%>" race="<%= race.id %>">
                                                        Nominate</button>
                                                    <% end %>
                                                    </td>
                                                <% elsif @horserace.status == "Confirmed" %>
                                                    <td>
                                                      Confirmed: 
                                                      <%= form_for(@horserace) do |f| %>
                                                        <%= check_box("horserace", "status", {:id => 'confirm_racestatus'}, "Confirmed", "") %>
                                                      <% end %>
                                                    </td>
                                                <% elsif @confirmed %>
                                                    <td>
                                                        <%= form_for(@horserace, :html => {class: 'inline-checkbox edit_horserace'}) do |f| %>
                                                        <%= check_box("horserace", "status", {}, "Interested", "") %> /
                                                        <% end %>
                                                        <input class="confirm_alert"type="checkbox" name="confirm" value="0"  />
                                                    </td>
                                                <% else %>
                                                    <td ><%= form_for(@horserace) do |f| %>
                                                        <%= check_box("horserace", "status", {}, "Interested", "") %> /
                                                    <% end %>
                                                    <%= form_for(@horserace) do |f| %>
                                                        <%= check_box("horserace", "status", {:id => 'confirm_racestatus'}, "Confirmed", "") %>
                                                    <% end %>
                                                    </td>
                                                <% end %>
                                            <% end %>
                                        </tr>
                                    <% end %>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
/* Formating function for row details */
function fnFormatDetails ( oTable, nTr )
{
  var aData = oTable.fnGetData( nTr );
  var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="inner-table">';
  sOut += '<tr><td>Conditions: </td><td>'+aData[4]+'</td></tr>';
  sOut += '<tr><td>Description:</td><td>'+aData[5]+'</td></tr>';
  sOut += '</table>';

  return sOut;
}
</script>