<div class="row">
  <div class="col-xs-12">
    <h2><%= current_user.name %>'s Races</h2>
    <% if current_user.admin? %>
      <%= link_to 'New Race', new_race_path, :class => 'btn btn-primary btn-small' %>
    <% end %>
  </div>
  <div class="col-xs-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <div class="row">
          <div class="col-xs-12">
            <table class="detailTable table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Name</th> 
                  <th>Status</th>
                  <th>Priority</th>
                  <th style="display: none;"></th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% @races.each do |race| %>
                  <tr>
                    <td><%= race.name %></td>
                    <td>
                      <% if race.status == "Draft"%>
                        <%= link_to 'Draft', {:controller => "races", :action => "update_status", :status => "Published", :id => race.id }, :class => 'btn btn-warning btn-mini' %>
                      <% else %>
                        <%= link_to 'Published', {:controller => "races", :action => "update_status", :status => "Draft", :id => race.id }, :class => 'btn btn-success btn-mini' %>
                      <% end %>
                    </td>
                    <td>
                      <% if race.category == 'Priority' %>
                        <span class="label label-inverse">Yes</span>
                      <% else %>
                        <span class="label badge-danger">No</span>
                      <% end %>
                    </td>
                    <td class="condition-book" style="display:none;">
                      <div class="race-type">
                        <span><%= race.race_type %></span>
                      </div>
                      <div class="race-description">
                        <span>Purse: <%= number_to_currency(race.purse, precision: 0) %>. <%= race.description %></span>
                      </div>
                      <div class="race-weight">
                        <span><%= race.weights %></span>
                      </div>
                      <div class="race-claiming">
                        <span>
                          <% if race.claiming_prices[0] &&  race.claiming_prices[0].price%>
                                                <% if race.claiming_prices[1] && race.claiming_prices[1].price %>
                                                    <% if race.claiming_prices[0].price >= race.claiming_prices[1].price %>
                                                        Claiming Price: <%= number_to_currency(race.claiming_prices[0].price, precision: 0) %> - <%= number_to_currency(race.claiming_prices[1].price, precision: 0) %>
                                                    <% else %>
                                                        Claiming Price: <%= number_to_currency(race.claiming_prices[1].price, precision: 0) %> - <%= number_to_currency(race.claiming_prices[0].price, precision: 0) %>
                                                    <% end %>
                                                <% else %>
                                                    Claiming Price: <%= number_to_currency(race.claiming_prices[0].price, precision: 0) %>
                                                <% end %>
                                            <% elsif race.claiming_prices[1] && race.claiming_prices[1].price %>
                                                Claiming Price: <%= number_to_currency(race.claiming_prices[1].price, precision: 0) %>
                                            <% end %>
                        </span>
                      </div>
                      <div class="race-distance pull-right">
                        <span><%= race.distance %> <%= race.distance_type %></span>
                      </div>
                  </td>
                    <td>
                      <%= link_to 'Show', race, :class => 'btn btn-success btn-mini' %>
                      <%= link_to 'Edit', edit_race_path(race), :class => 'btn btn-warning btn-mini', 'data-no-turbolink' => true %>
                      <%= link_to 'Delete', race, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger   btn-mini' %>
                      <%= link_to 'Duplicate', '/races/'+race.id.to_s+'/duplicate', :method=> :post, :class => 'btn btn-primary btn-mini' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  /* Formating function for row details */
  function fnFormatDetails ( oTable, nTr )
  {
    var aData = oTable.fnGetData( nTr );
    var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;  width: 100%;" class="inner-table">';
    sOut += '<tr><td class="condition-book">'+aData[4]+'</td></tr>';
    sOut += '</table>';
     
    return sOut;
  }
</script>
