<div class="row">
  <div class="col-xs-12">
    <h2><%= current_user.name %>'s Races</h2>
    <% if current_user.admin? %>
      <%= link_to 'New Race', new_race_path, :class => 'btn btn-primary btn-xs' %>
    <% end %>
  </div>
  <div class="col-xs-12">
    <table class="table table-condensed table-hover generic-table">
      <thead>
        <tr>
          <% if current_user.admin? %>
          <th>ID</th>
          <% end %>
          <th>Number</th>
          <th>Name</th>
          <th>Description</th>
          <th>Purse</th>
          <th>Claiming Level</th>
          <th>Status</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @races.each do |race| %>
          <tr class="top"  data-toggle="tooltip" data-placement="right" title="
                    Conditions: 
                    <% if race.conditions.any?
                      race.conditions.each do |condition| %>
                        <%= condition.name %>
                      <% end %>
                    <% else %>
                      None
                    <% end %>">
            <% if current_user.admin? %>
            <td><%= race.id %></td>
            <% end %>
            <td><%= race.race_number %></td>
            <td><%= race.name %></td>
            <td><%= race.description %></td>
            <td>
              <% if race.claiming_purse? %>
                <%= number_to_currency(race.claiming_purse, precision: 2) %>
              <% else %>
                <%= number_to_currency(0, precision: 2) %>
              <% end %>
            </td>
            <td>
              <% if race.claiming_level? %>
                <%= number_to_currency(race.claiming_level, precision: 2) %>
              <% else %>
                <%= number_to_currency(0, precision: 2) %>
              <% end %>
            </td>
            <td>
              <%= race.status %>
              <% if race.status == "Draft"%>
                <%= link_to 'Publish', {:controller => "races", :action => "update_status", :status => "Published", :id => race.id }, :class => 'btn btn-info btn-xs' %>
              <% else %>
                <%= link_to 'Draft', {:controller => "races", :action => "update_status", :status => "Draft", :id => race.id }, :class => 'btn btn-warning btn-xs' %>
              <% end %>
            </td>
            <td>
              <%= link_to 'Show', race, :class => 'btn btn-primary btn-xs' %>
              <%= link_to 'Edit', edit_race_path(race), :class => 'btn btn-warning btn-xs', 'data-no-turbolink' => true %>
              <%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger   btn-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>