<div class="row">
	<div class="col-xs-12">
		<h2>Race Menu</h2>
	</div>
	<div class="col-xs-12 text-block">
		<h4>Choose Your Horse</h4>
		<% if current_user.admin? %>
			<div class="row">
				<div class="col-xs-3">
					<% 	@all_trainers = Array.new()
						@all_trainers.push(User.new(:name => "No Trainer", :id => "0"))
						@all_trainers += User.where(:role => '1').order('name ASC')
						 %>
					<% if @horse && @horse.trainer_id %>
						<% @trainer = User.find_by_id(@horse.trainer_id) %>
						<% if @trainer %>
							<div id='specificHorse' horse="<%=@horse.id%>"></div>
							<%= collection_select(:menu, :trainer_id, @all_trainers, :id, :name, {:selected => @trainer.id, :include_blank => 'None'}) %>
						<% else %>
							<%= collection_select(:menu, :trainer_id, @all_trainers, :id, :name, {:prompt => 'Please select a trainer'}) %>
						<% end %>
					<% else %>
						<%= collection_select(:menu, :trainer_id, @all_trainers, :id, :name, {:prompt => 'Please select a trainer'}) %>
					<% end %>
				</div>
				<div class="col-xs-3">
					<div id="horseSelect"></div>
				</div>	
			</div>
		<% else %>
			<% if @horse %>
				<div id='specificHorse' horse="<%=@horse.id%>"></div>
				<%= collection_select(:menu, :horse_id, @horses.order('name ASC'), :id, :name, {:selected => @horse.id, :include_blank => 'None'}) %>
			<% else %>
				<%= collection_select(:menu, :horse_id, @horses.order('name ASC'),:id, :name, {:prompt => 'Please select a horse'}) %>
			<% end %>
		<% end %>
	</div>
	<div class="col-xs-12">
		<div id="racemenu"></div>
	</div>
</div>








