<ul class="breadcrumb">
  <li><%= link_to 'Race List', races_path %></li>
  <li><%= link_to @race.name, @race %></li>
  <li class="active">Race View</li>
</ul>
<div class="row">
  <div class="col-xs-12">
    <h2><%= @race.name %></h2>
    <% if @resetHorses %>
      <button type="button" id="set_horses_to_race_ready" class="btn btn-primary btn-s">Set Horses To Race Ready</button>
    <% end %>
    <button type="button" id="remove_confirmed_horses" class="btn btn-warning btn-s">Remove Confirmed Horses</button>
  </div>
  <div id="reset_horses_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">This will reset all horses in this Race to Status: Race Ready, and increment their Races run count. Do you want to continue?</h4>
        </div>
        <div class="modal-footer">
          <%= link_to 'Yes', '/races/'+@race.id.to_s+'/resetHorseStatuses', :method=> :post, :class => 'btn btn-primary btn-mini' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div id="remove_confirmed_horses_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">This will remove all confirmed horses. Interested horses will still remain, and scratched horses will become interested. Do you want to continue?</h4>
        </div>
        <div class="modal-footer">
          <%= link_to 'Yes', '/races/'+@race.id.to_s+'/removeConfirmedHorses', :method=> :post, :class => 'btn btn-primary btn-mini' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="col-xs-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <div class="row">
          <div class="col-xs-12">
            <table class="genericTable table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                   <th colspan="1"></th>
                   <th colspan="1"></th>
                   <th>Transfer Owner</th>
                   <th>Transfer Trainer</th>
                </tr>
              </thead>
              <tbody>
                <% @confirmed.each do |horse| %>
                  <tr class="top">
                    <td><%= horse.name %></td>
                    <td>
                    <% if Horserace.where(:horse_id => horse.id, :race_id => @race.id, :status => 'WON').any? %>
                      WON
                    <% elsif Horserace.where(:horse_id => horse.id, :race_id => @race.id, :status => 'Scratched').any? %>
                      SCRATCHED
                    <% else %>
                      <button class="winner btn btn-primary btn-mini" horse="<%= horse.id%>" race-title="<%= @race.name %>" race="<%= @race.id %>">Winner</button>
                    <% end %>
                    </td>
                    <td>
                      <% if Horserace.where(:horse_id => horse.id, :race_id => @race.id, :status => 'Scratched').any? %>
                        SCRATCHED 
                      <% else %>
                        <button class="scratch btn btn-danger btn-mini" horse="<%= horse.id%>" race="<%= @race.id%>">Scratch</button>
                      <% end %>
                    </td>
                    <td>
                    <% if horse.owner %>
                      <%= select_tag "Transfer Owner", options_for_select(@owners.collect{ |o| [o.name, o.id]}, horse.owner.id), :class => 'transferOwner', :horse => horse.id%></td>
                    <% else %>
                      <%= select_tag "Transfer Owner", options_for_select(@owners.collect{ |o| [o.name, o.id]}), :class => 'transferOwner', :horse => horse.id%>
                    <% end %>
                    </td>
                    <td>
                    <% if horse.trainer %>
                      <%= select_tag "Transfer Trainer", options_for_select(@trainers.collect{ |o| [o.name, o.id]}, horse.trainer.id), :class => 'transferTrainer', :horse => horse.id %>
                    <% else %>
                      <%= select_tag "Transfer Trainer", options_for_select(@trainers.collect{ |o| [o.name, o.id]}), :class => 'transferTrainer', :horse => horse.id %>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>