<div class="row">
  <div class="col-xs-12">
    <h1>Protocol and Stakes Schedule</h1>
    <table class="table table-condensed table-hover generic-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Type</th>
          <th>Conditions</th>
          <th>Distance</th>
          <th>Noms Close</th> 
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @races.each do |race| %>
          <tr class="top">
            <td><%= race.race_datetime.strftime('%b %d, %Y') %></td>
            <td><%= race.name %></td>
            <td><%= race.race_type %>
            <td>
            <% conditions = race.conditions %>
            <% if conditions.any? %>
                <% conditions.each do |condition| %>
                    <%= condition.name %>
                <% end %>
            <% else %>
              None
            <% end %>
            </td>
            <% if race.distance <= 1 %>
              <% if race.distance_type == 'Furlongs' %>
                <td><%= race.distance %> Furlong</td>
              <% else %>
                <td><%= race.distance %> Mile</td>
              <% end %>
            <% else %>
              <td><%= race.distance %> <%= race.distance_type %></td>
            <% end %>
            <td>?</td>
            <td>
              <% if race.race_type == "Stakes" %>
                <%= collection_select(:schedule, :horse_id, @horses,:id, :name, {:prompt => 'Nominate'}, {race: race.id, class: 'stakes_horse_id'}) %>
              <% else %>
                <%= link_to 'View', race, :class => 'btn btn-primary btn-xs' %>
              <% end %>
            </td>        
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>