<div class="row">
	<div class="col-xs-3 horse-info-list-group">
		<h4>Conditions:</h4>
		<%= render 'condition' %>
	</div>
	<div class="col-xs-6">
		<div class="row">
			<ol class="breadcrumb">
			  <li><%= link_to 'Race List', races_path %></li>
			  <li class="active"><%= @race.name %></li>
			</ol>
			<div class="col-xs-12 horse-info">
				<h1><%= @race.name %></h1>
				<h4>Race Number: <%= @race.race_number %></h4>
				<h4><%= @race.description %></h4>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<% @race_groups.each do |racegroup| %>
			<div class ="race-list-table">
				<h4><%= racegroup[0] %></h4>
				<table class="table table-condensed table-hover generic-table race-show-table">
					<thead>
						<tr>
							<th>Name</th>
		          <th>Gender</th>
		          <th>Age</th>
		          <th>Starts</th>
		          <th>Firsts</th>
		          <th>Race Status</th>
		          <th>Prev Claiming Level</th>
						</tr>
					</thead>
					<% if racegroup[1] %>
						<tbody>
			        <% racegroup[1].each do |horse| %>
			          <tr class="top">
			            <td><%= horse.name %></td>
			            <td><%= horse.gender %></td>
			            <td>
			             <% def age(dob)
			                now = Time.now.utc.to_date
			                now.year - dob.year - ((now.month > dob.month || (now.month == dob.month && now.day >= dob.day)) ? 0 : 1)
			              end %>
			              <%= age(horse.DOB.to_date) %>
			            </td>
			            <td><%= horse.starts %></td>
			            <td><%= horse.firsts %></td>
			            <td><%= racegroup[0] %></td>
			            <td>
			            	<% if horse.last_claiming_level? %>
	                		<%= number_to_currency(horse.last_claiming_level, precision: 2) %>
	              		<% else %>
	                		<%= number_to_currency(0, precision: 2) %>
	              		<% end %>
	              	</td>
			          </tr>
			        <% end %>
			      </tbody>
					<% end %>
				</table>
			</div>
		<% end %>
	</div>
	<div class="col-xs-3">
		<div>
			<h4>Winner:</h4>
			<%= render 'winner' %>
		</div>
	</div>
</div>
