<div class="row">
  <div class="col-xs-12">
    <h1>Stakes Schedule</h1>
    <div class="col-xs-12">
      <div class="grid simple">
        <div class="grid-body no-border">
          <div class="row">
            <div class="col-xs-12">
                <table id="stakes-table" class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Type of Race</th>
                            <th>Age / Sex</th>
                            <th>Distance</th>
                            <th>INT</th>
                            <th>CON</th>
                            <th>Noms Close</th>
                            <th>Actions</th>
                            <th style="display: none;">Race</th>
                            <th style="display: none;">Interested</th>
                            <th style="display: none;">Confirmed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @races.each do |race| %>
                        <tr class="top">
                            <td>
                                <% if race.race_date.date %>
                                    <%= race.race_date.date.strftime('%A, %b %d') %>
                                <% end %>
                            </td>
                            <td>
                                <%= race.name %>
                            </td>
                            <td>
                                <% if race.getAgeConditions %>
                                    <% if !race.getAgeConditions.empty? %>
                                        <% race.getAgeConditions.each.with_index do |age, index| %>
                                            <% if index == race.getAgeConditions.size - 1 %>
                                                <%= age.name %>
                                            <% else %>
                                                <%= age.name %>&nbsp;
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                                <% if race.getAgeConditions %>
                                    <% if !race.getSexConditions.empty? %>
                                        <% race.getSexConditions.each.with_index do |sex, index| %>
                                            <% if index == race.getSexConditions.size - 1 %>
                                                <%= sex.name %> 
                                            <% else %>
                                                <%= sex.name %>/
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </td>
                            <td >
                                <div style="display:none;">
                                    <%= race.distance_sort_value%>
                                </div>
                                <%= race.distance %>
                            </td>
                            <td>
                                <strong><%= race.horseraces.where(:status => "Interested").count %></strong>
                            </td>
                            <td>
                                <strong><%= race.horseraces.where(:status => "Confirmed").count %></strong>
                            </td>
                            <td><%if race.nomination_close_date && race.nomination_close_date.date %><%= race.nomination_close_date.date.strftime('%A, %b %d') %><%end%></td>  
                            <td>
                                <% if race.stakes && race.needs_nomination %>
                                <% @horse_list = Array.new()
                                 horsenotificationids = Notification.where(:action => "Nominate", :send_id => race.id).pluck(:recv_id)
                                 horseracelistids = race.horseraces.where("status = (?) OR status = (?)", "Interested", "Confirmed").pluck(:horse_id)
                                 filteredList = @horses.where('id not in (?) AND id not in (?)',horsenotificationids, horseracelistids)
                                filteredList.each do |horse|
                                    if race.isHorseEligible(horse)
                                        @horse_list.push(horse)
                                    end
                                    end %>

                                    <%= collection_select(:schedule, :horse_id, @horse_list.sort_by(&:name),:id, :name, {:prompt => 'Nominate'}, {race: race.id, class: 'stakes_horse_id'}) %>
                                    <% end %>
                            </td>
                            <td class="condition-book" style="display:none;">
                                <div class="race-type">
                                    <span><%= race.race_type %></span>
                                </div>
                                <div class="race-description">
                                    <span>Purse: <%= number_to_currency(race.purse, precision: 0) %>. <%= race.description %></span>
                                </div>
                                <div class="race-weight">
                                    <span><%= race.weights %></span>
                                </div>
                                <div class="race-claiming">
                                    <span>
                                        <% if race.claiming_prices[0] &&  race.claiming_prices[0].price%>
                                            <% if race.claiming_prices[1] && race.claiming_prices[1].price %>
                                                <% if race.claiming_prices[0].price >= race.claiming_prices[1].price %>
                                                    Claiming Price: <%= number_to_currency(race.claiming_prices[0].price, precision: 0) %> - <%= number_to_currency(race.claiming_prices[1].price, precision: 0) %>
                                                <% else %>
                                                    Claiming Price: <%= number_to_currency(race.claiming_prices[1].price, precision: 0) %> - <%= number_to_currency(race.claiming_prices[0].price, precision: 0) %>
                                                <% end %>
                                            <% else %>
                                                Claiming Price: <%= number_to_currency(race.claiming_prices[0].price, precision: 0) %>
                                            <% end %>
                                        <% elsif race.claiming_prices[1] && race.claiming_prices[1].price %>
                                            Claiming Price: <%= number_to_currency(race.claiming_prices[1].price, precision: 0) %>
                                        <% end %>
                                    </span>
                                </div>
                                <div class="race-distance pull-right">
                                    <span><%= race.distance %></span>
                                </div>
                            </td> 
                            <td style="display:none;">
                                    <% if current_user.admin? %>
                                        <% race.horseraces.where(:status => "Interested").each.with_index do |interested, index| %> 
                                            <% horse = interested.horse %>
                                            <% if current_user.trainer? %>
                                                <% if horse.trainer_id == current_user.id %>
                                                    <%= horse.name %>
                                                <% end %>
                                            <% elsif current_user.user?%>
                                                <% if horse.owner_id == current_user.id %>
                                                    <%= horse.name %>
                                                <% end %>
                                            <% else %>
                                                <% if index == race.horseraces.where(:status => "Interested").size - 1 %>
                                                    <%= horse.name %>
                                                <% else %>
                                                    <%= horse.name %> |
                                                <% end %>
                                            <% end %>   
                                        <% end %>
                                    <% else %>
                                        Admin Only
                                    <% end %>
                                </td>
                                <td style="display:none;">
                                    <% if current_user.admin? %>
                                        <% race.horseraces.where(:status => "Confirmed").each.with_index do |confirmed, index| %>
                                            <% horse = confirmed.horse %>
                                                <% if current_user.trainer? %>
                                                    <% if horse.trainer_id == current_user.id %>
                                                        <%= horse.name %>
                                                    <% end %>
                                                <% elsif current_user.user?%>
                                                    <% if horse.owner_id == current_user.id %>
                                                        <%= horse.name %>
                                                    <% end %>
                                                <% else %>
                                                    <% if index == race.horseraces.where(:status => "Confirmed").size - 1 %>
                                                        <%= horse.name %>
                                                    <% else %>
                                                        <%= horse.name %> |
                                                    <% end %>
                                                <% end %>
                                            <% end %>
                                    <% else %>
                                        Admin Only
                                    <% end %>
                                </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<script>
/* Formating function for row details */
function fnFormatDetails ( oTable, nTr )
{
    var aData = oTable.fnGetData( nTr );
    var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;  width: 100%;" class="inner-table">';
    sOut += '<tr><td class="condition-book">'+aData[9]+'</td></tr>';
    sOut += '<tr><td class="left">Interested: '+aData[10]+'</td></tr>';
    sOut += '<tr><td class="left">Confirmed: '+aData[11]+'</td></tr>';
    sOut += '</table>';
    
    return sOut;
}
</script>