<div class="row">
  <div class="col-xs-12">
    <h1>Stakes Schedule</h1>
    <table class="table table-condensed table-hover generic-table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Name</th>
          <th>Type</th>
          <th>Conditions</th>
          <th>Distance</th>
          <th>Noms/Race Close</th> 
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @races.each do |race| %>
          <tr class="top">
            <td><%= race.race_datetime.strftime('%b %d, %Y') %></td>
            <td><%= race.name %></td>
            <td><%= race.race_type %>
            <td>
            <% conditions = race.conditions %>
            <% if conditions.any? %>
                <% conditions.each do |condition| %>
                  <%= condition.name %>
                <% end %>
            <% else %>
              None
            <% end %>
            </td>
            <% if race.distance <= 1 %>
              <% if race.distance_type == 'Furlongs' %>
                <td><%= race.distance %> Furlong</td>
              <% else %>
                <td><%= race.distance %> Mile</td>
              <% end %>
            <% else %>
              <td><%= race.distance %> <%= race.distance_type %></td>
            <% end %>
            <td><%= race.close_date.strftime('%b %d, %Y') %></td>
            <td>
              <% if @today > race.close_date %>
                CLOSED
              <% else %>
                  <% @horse_list = Array.new()
                    @horses.each do |horse|
                      if Notification.where(:action => "Nominate", :recv_id => horse.id, :send_id => race.id).empty? && Horserace.where(:race_id => race.id, :horse_id => horse.id).empty?
                        @horse_list.push(horse)
                      end
                    end %>
                  <%= collection_select(:schedule, :horse_id, @horse_list,:id, :name, {:prompt => 'Nominate'}, {race: race.id, class: 'stakes_horse_id'}) %>
                <% end %>
            </td>        
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>