<div class="row">
  <div class="col-xs-12">
    <h2>Equipment & Medication</h2>
    <%= link_to 'New', new_equipment_path, :class => 'btn btn-primary btn-small' %>
  </div>
  <div class="col-xs-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <div class="row">
          <div class="col-xs-12">
            <table class="genericTable table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Required</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% @equipment.each do |equipment| %>
                  <tr>
                    <td><%= equipment.name %></td>
                    <td><%= equipment.required %></td>
                    <td>
                      <%= link_to 'Edit', edit_equipment_path(equipment), :class => 'btn btn-warning btn-mini' %>
                      <%= link_to 'Delete', equipment, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-mini' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
