<%= form_for(@horse)  do |f| %>
<ul class="condition-list">
  <% @categories.each do |category| %>
    <li><%= category.name %>
      <ul class="condition-list">
      <% category.conditions.each do |condition| %>
        <%= hidden_field_tag 'horse[condition_ids][]', nil %>
        <% if Notification.where(:send_id => @horse.id, :recv_id => condition.id).any? %>
          <li><%= condition.name %> Pending Approval</li>
        <% else %>
          <li><%= check_box_tag "horse[condition_ids][]", condition.id, @horse.conditions.include?(condition) %> <%= condition.name %> </li>
        <% end %>
      <% end %>
      </ul>
    </li>
  <% end %>
</ul>
<% end %>