<%= form_for(@horse)  do |f| %>
<ul class="equipment-list">
	<% @lasix_medication.each do |equipment| %>
		<li>
		<% if @lasix_pending %>
			Lasix Pending Approval
		<% else %>
			<%= radio_button_tag 'horse[equipment_ids][]', equipment.id, @horse.equipment.include?(equipment)%>
		<%end%>
		<%= equipment.name %>
		</li>
	<% end %>
  <% @equipment_medication.each do |equipment| %>
    <%= hidden_field_tag 'horse[equipment_ids][]', nil %>
    <% if Notification.where(:send_id => @horse.id, :recv_id => equipment.id, :action => "Add").any? || Notification.where(:send_id => @horse.id, :recv_id => equipment.id, :action => "Remove").any?%>
      <li><%= equipment.name %> Pending Approval</li>
    <% else %>
      <li><%= check_box_tag "horse[equipment_ids][]", equipment.id, @horse.equipment.include?(equipment) %> <%= equipment.name %> </li>
    <% end %>
  <% end %>
</ul>
<% end %>