<%= form_for(@horse) do |f| %>
  <% if @horse.errors.any? %>
  <div class="row">
    <div class="col-xs-12">
      <div id="error_explanation">
        <h2><%= pluralize(@horse.errors.count, "error") %> prohibited this horse from being saved:</h2>
        <ul>
        <% @horse.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-6">  
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'URL' %>
      <%= f.text_field :URL, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Place of Birth' %>
      <%= f.text_field :birth_place, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'POB' %>
      <%= f.text_field :POB, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Breed' %>
      <%= f.text_field :breed, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :gender %><br/>
      <%= f.collection_select :gender, @sexes, :last, :first, {:include_blank => 'Please Select'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Birth Year' %>
      <%= f.text_field :birth_year, :autofocus => true %>
    </div>
     <div class="form-group">
      <%= f.label 'Owner' %>
      <%= f.collection_select :owner_id, @owners, :id, :name, {:include_blank => 'Please Select'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :trainer_id %>
      <%= f.collection_select :trainer_id, @trainers, :id, :name, {:include_blank => 'Please Select'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit :class => 'btn btn-success btn-sm'%>
      <%= link_to 'Back', horses_path, :class => 'btn btn-danger btn-sm' %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="form-group">
      <%= f.label :starts %>
      <%= f.select :starts, options_for_select(0..200) %>
    </div>
    <div class="form-group">
      <%= f.label :wins %>
      <%= f.select :wins, options_for_select(0..200) %>
    </div>
  </div>
</div>
<% end %>
