<%= form_for(@horse) do |f| %>
  <div class="row">
    <% if @horse.errors.any? %>
      <div class="col-xs-12">
        <div id="error_explanation">
          <h4><%= pluralize(@horse.errors.count, "error") %> prohibited this horse from being saved:</h4>
          <ul>
          <% @horse.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <div class="col-xs-12 col-md-6">
    <div class="form-group">
      <%= f.label :trainer_id %>
      <%= f.collection_select :trainer_id, @trainers, :id, :name, {:include_blank => 'Please Select'}, class: 'form-control' %>
      <br>
      <p>Is the trainer also the owner?<p>
      <input id="trainer_owner" type="checkbox" name="trainer_owner" <% if @ownerIsTrainer %>checked <% end %>/>
    </div>
    <div id="owner_select" class="form-group" <% if @ownerIsTrainer %> style="display:none;" <%end %>>
      <%= f.label 'Owner' %>
        <%= f.collection_select :owner_id, @owners, :id, :name, {:include_blank => 'Please Select'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group field">
      <%= f.label :country_code %>
      <%= f.country_select :country_code, {priority: %w(US CA), prompt: 'Please select a country'}  %>
    </div>
    <div class="form-group field">
      <%= f.label :subregion_code %>
      <%= render partial: 'subregion_select', locals: {parent_region: f.object.country_code} %>
    </div>
    <div class="form-group">
      <%= f.label 'Breed' %>
      <%= f.select :breed, options_for_select(["Thoroughbred", "Quarter", "Standardbred"], @horse.breed) %>
    </div>
    <div class="form-group">
      <%= f.label :sex %>
      <%= f.collection_select :sex, @sexes, :last, :first, {:include_blank => 'Please Select'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Birth Year' %>
      <%= f.select :birth_year, options_for_select(2013.downto(2000), @horse.birth_year) %>
    </div>
    <div class="form-group">
      <%= f.submit :class => 'btn btn-success btn-sm'%>
      <%= link_to 'Back', horses_path, :class => 'btn btn-danger btn-sm' %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="form-group">
      <%= f.label :starts %>
      <%= f.select :starts, options_for_select(0..200, @horse.starts) %>
    </div>
    <div class="form-group">
      <%= f.label :wins %>
      <%= f.select :wins, options_for_select(0..200, @horse.wins) %>
    </div>
    <div class="form-group last-wins">
      <h2>Last Win</h2>
      <%= form_for(@last_win) do |f| %>
        <div class="form-group">
          <div class="form-group">
            <%= f.label 'Date' %>
            <%= date_field("last_win", "date") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $(function(){
    if($("#horse_wins").value > 0) {
      $('.last-wins').show();
    } else {
      $('.last-wins').hide();
    }

    $('#horse_wins').on('change', function() {
      if(this.value > 0){
          $('.last-wins').show();
      } else {
        $('.last-wins').hide();
      }
    });
  })
</script>
