<%= form_for(@horse) do |f| %>
  <% if @horse.errors.any? %>
  <div class="row">
    <div class="col-xs-12">
      <div id="error_explanation">
        <h2><%= pluralize(@horse.errors.count, "error") %> prohibited this horse from being saved:</h2>
        <ul>
        <% @horse.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-6">  
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'URL' %>
      <%= f.text_field :URL, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :country_code %><br />
      <%= f.country_select :country_code, {priority: %w(US CA), prompt: 'Please select a country'}  %>
    </div>
    <div class="field">
      <%= f.label :subregion_code %><br />
      <%= render partial: 'subregion_select', locals: {parent_region: f.object.country_code} %>
    </div>
    <div class="form-group">
      <%= f.label 'Breed' %>
      <%= f.text_field :breed, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :sex %><br/>
      <%= f.collection_select :sex, @sexes, :last, :first, {:include_blank => 'Please Select'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label 'Birth Year' %>
      <%= f.select :birth_year, options_for_select(1970..2017) %>
    </div>
     <div class="form-group">
      <%= f.label 'Owner' %>
      <%= f.collection_select :owner_id, @owners, :id, :name, {:include_blank => 'Please Select'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :trainer_id %>
      <%= f.collection_select :trainer_id, @trainers, :id, :name, {:include_blank => 'Please Select'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit :class => 'btn btn-success btn-sm'%>
      <%= link_to 'Back', horses_path, :class => 'btn btn-danger btn-sm' %>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="form-group">
      <%= f.label :starts %>
      <%= f.select :starts, options_for_select(0..200) %>
    </div>
    <div class="form-group">
      <%= f.label :wins %>
      <%= f.select :wins, options_for_select(0..200) %>
    </div>
  </div>
</div>
<% end %>
