<% @races.each do |race| %>
	<tr >
		<% @horserace = Horserace.where(:race_id => race.id, :horse_id => @horse.id).first %>
		<%= @horserace.status %>
		<td><%= race.name %></td>
		<% if race.distance <= 1 %>
	      <% if race.distance_type == 'Furlongs' %>
	        <td><%= race.distance %> Furlong</td>
	      <% else %>
	        <td><%= race.distance %> Mile</td>
	      <% end %>
	    <% else %>
	      <td><%= race.distance %> <%= race.distance_type %></td>
	    <% end %>
		<td><%= race.horseraces.where(:status => "Confirmed").count %></td>
		<% if @horse.status.name == 'Vet\'s List' || @horse.status.name == 'Steward\'s List' %>
         	<td><%= @horse.status.name %></td>
        <% else %>
        	<% if race.stakes && race.needs_nomination %>
	            <td>
	            <% if @horserace.status == "Confirmed" %>
	                Confirmed: 
	              <%= form_for(@horserace) do |f| %>
	                <%= check_box("horserace", "status", {:id => 'confirm_racestatus'}, "Confirmed", "") %>
	              <% end %>
	            <% elsif @horserace.status == "Denied" %>
	                Denied
	            <% elsif Notification.where(:action => "Confirm Nomination", :recv_id => @horse.id, :send_id => race.id).any? %>
	                Waiting Confirmation
	            <% elsif Notification.where(:action => "Nominate", :recv_id => @horse.id, :send_id => race.id).any? %>
	                Nomination Sent 
	            <% else %>
	                <button class="nominate_horse" horse="<%=@horse.id%>" race="<%= race.id %>">
	                Nominate</button>
	            <% end %>
	            </td>
			<% elsif @horserace.status == "Confirmed" %>
                <td>
                  <%= form_for(@horserace) do |f| %>
                    <%= check_box("horserace", "status", {:id => 'confirm_racestatus', :class => 'cmn-toggle cmn-toggle-yes-no'}, "Confirmed", "") %>
                    <%= label_tag("confirm_racestatus", "", :data => {:on => 'Confirmed', :off => 'No'}) %>
                  <% end %>
                </td>
            <% elsif @confirmed %>
                <% @confirmed_id = @horserace.id.to_s + '_confirmed' %>
                <td style="text-align: center;">
                    <%= form_for(@horserace, :html => {class: 'inline-checkbox edit_horserace', style: 'width: 50px;'}) do |f| %>
                        <%= check_box("horserace", "status", {:id => @horserace.id, :class => 'cmn-toggle cmn-toggle-yes-no'}, "Interested", "") %>
                        <%= label_tag(@horserace.id, "", :data => {:on => 'Yes', :off => 'No'}) %>
                    <% end %>
                    <%= form_for(@horserace, :html => {class: 'inline-checkbox edit_horserace', style: 'width: 50px;'}) do |f| %>
                        <input id="<%=@confirmed_id%>" class="confirm_alert cmn-toggle cmn-toggle-yes-no" type="checkbox" name="confirm" value="0"  />
                        <label for="<%=@confirmed_id%>" data-on="Yes" data-off="No"></label>
                    <% end %>
                </td>
            <% else %>
                <% @interested_id = @horserace.id.to_s + '_interested'%>
                <% @confirmed_id = @horserace.id.to_s + '_confirmed' %>
                <td style="text-align: center;"><%= form_for(@horserace, :html => {class: 'inline-checkbox edit_horserace'}) do |f| %>
                    <%= check_box("horserace", "status", {:id => @interested_id ,:class => 'cmn-toggle cmn-toggle-yes-no'}, "Interested", "") %>
                    <%= label_tag(@interested_id, "", :data => {:on => 'Yes', :off => 'No'}) %>
                <% end %>
                <%= form_for(@horserace, :html => {class: 'inline-checkbox edit_horserace'}) do |f| %>
                    <%= check_box("horserace", "status", {:id => @confirmed_id, :class => 'cmn-toggle cmn-toggle-yes-no'}, "Confirmed", "") %>
                    <%= label_tag(@confirmed_id, "", :data => {:on => 'Yes', :off => 'No'}) %>
                <% end %>
                </td>
            <% end %>
		<% end %>
		<td style="display: none;">
	    <% if race.conditions.any? %>
	    	<% race.conditions.each do |condition| %>
	          | <%= condition.name %> |
	    	<% end %>
	    <% else %>
	    	| None |
	    <% end %>
	    </td>
	    <td style="display: none;"><%= race.description %></td>
	</tr>
<% end %>