<% @races.each do |race| %>
	<tr >
		<% @horserace = Horserace.find_or_create_by!(:race_id => race.id, :horse_id => @horse.id) %>
		<td><%= race.name %></td>
		<% if race.distance <= 1 %>
	      <% if race.distance_type == 'Furlongs' %>
	        <td><%= race.distance %> Furlong</td>
	      <% else %>
	        <td><%= race.distance %> Mile</td>
	      <% end %>
	    <% else %>
	      <td><%= race.distance %> <%= race.distance_type %></td>
	    <% end %>
		<td><%= race.horseraces.where(:status => "Interested").count %></td>
		<% if @horse.status.name == 'Vet\'s List' || @horse.status.name == 'Steward\'s List' %>
         	<td><%= @horse.status.name %></td>
        <% else %>
			<% if @horserace.status == "Confirmed" %>
				<td>
	              Confirmed: 
	              <%= form_for(@horserace) do |f| %>
	                <%= check_box("horserace", "status", {:id => 'confirm_racestatus'}, "Confirmed", "") %>
	              <% end %>
	            </td>
	        <% elsif @confirmed %>
		        <td>
		            <%= form_for(@horserace, :html => {class: 'inline-checkbox edit_horserace'}) do |f| %>
		            <%= check_box("horserace", "status", {}, "Interested", "") %> /
		            <% end %>
		            <input class="confirm_alert"type="checkbox" name="confirm" value="0"  />
		        </td>
			<% else %>
				<td ><%= form_for(@horserace) do |f| %>
					<%= check_box("horserace", "status", {}, "Interested", "") %> /
				<% end %>
				<%= form_for(@horserace) do |f| %>
					<%= check_box("horserace", "status", {:id => 'confirm_racestatus'}, "Confirmed", "") %>
				<% end %>
				</td>
			<% end %>
		<% end %>
		<td style="display: none;">
	    <% if race.conditions.any? %>
	    	<% race.conditions.each do |condition| %>
	          | <%= condition.name %> |
	    	<% end %>
	    <% else %>
	    	| None |
	    <% end %>
	    </td>
	    <td style="display: none;"><%= race.description %></td>
	</tr>
<% end %>