<% @races.each do |race| %>
	<tr >
		<% @horserace = Horserace.find_or_create_by!(:race_id => race.id, :horse_id => @horse.id) %>
		<td><%= race.name %></td>
		<td><%= race.description %></td>
		<td><%= race.horseraces.where(:status => "Interested").count %></td>
		<% if @horserace.status == "Confirmed" %>
			<td>
              Confirmed: 
              <%= form_for(@horserace) do |f| %>
                <%= check_box("horserace", "status", {:id => 'confirm_racestatus'}, "Confirmed", "") %>
              <% end %>
            </td>	
		<% elsif Date.today() >= race.close_date %>
			<td>Closed</td>
		<% elsif @confirmed%>
			<td ><%= form_for(@horserace) do |f| %>
				<%= check_box("horserace", "status", {}, "Interested", "") %> /
			<% end %>
			A
			</td>
		<% else %>
			<td ><%= form_for(@horserace) do |f| %>
				<%= check_box("horserace", "status", {}, "Interested", "") %> /
			<% end %>
			<%= form_for(@horserace) do |f| %>
				<%= check_box("horserace", "status", {:id => 'confirm_racestatus'}, "Confirmed", "") %>
			<% end %>
			</td>
		<% end %>
		<td style="display: none;">
	    <% if race.conditions.any? %>
	    	<% race.conditions.each do |condition| %>
	          | <%= condition.name %> |
	    	<% end %>
	    <% else %>
	    	| None |
	    <% end %>
	    </td>
		<% if race.distance <= 1 %>
	      <% if race.distance_type == 'Furlongs' %>
	        <td style="display: none;"><%= race.distance %> Furlong</td>
	      <% else %>
	        <td style="display: none;"><%= race.distance %> Mile</td>
	      <% end %>
	    <% else %>
	      <td style="display: none;"><%= race.distance %> <%= race.distance_type %></td>
	    <% end %>
	</tr>
<% end %>