<%= form_for(@horse, remote: true) do |f| %>
  <% if @horse.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@horse.errors.count, "error") %> prohibited this horse status from being saved:</h2>
    <ul>
    <% @horse.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <div class="form-group attribute">
      <% if current_user.admin? %>
        <%= f.collection_select :status_id, @statuses, :id, :name, {}, class: 'form-control'%>
      <% else %>
        <%= f.collection_select :status_id, @statuses, :id, :name, {}, class: 'form-control', :disabled => true%>
      <% end %>
    </div>
  </div>
<% end %>
