<div class="row">
  <div class="col-xs-12">
    <h2><%= current_user.name %>'s <% if current_user.admin? %>Inventory<% else %>Stable <% end %></h2>
    <% if current_user.admin? %>
      <%= link_to 'New Horse', new_horse_path, :class => 'btn btn-primary btn-small' %>
    <% end %>
  </div>
  <div class="col-xs-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <div class="row">
          <div class="col-xs-12">
            <table id="stable-table" class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Sex</th>
              <th>Wins</th>
              <% if current_user.admin? %>
                <th>Trainer</th>
              <% else %>
                <th>Owner</th>
              <% end %>
              <th>Status</th>
              <th style="display:none;">Owner</th>
              <th style="display:none;">Equipment/Medication</th>
              <th colspan="1"></th>
            </tr>
          </thead>
          <tbody>
            <% @horses.each do |horse| %>
            <tr>
              <td>
                <%= horse.name %>
                <p style="font-size: 10px;"><%= Carmen::Country.coded(horse.country_code).subregions.coded(horse.subregion_code).name %></p>
              </td>
              <td>
               <% def age(dob)
                  now = Time.now.utc.to_date
                  now.year - dob
                end %>
                <%= age(horse.birth_year) %>
              </td>
              <td><%= horse.sex %></td>
              <td><%= horse.wins %></td>
              <% if current_user.admin? %>
                <td><%if horse.trainer %><%= horse.trainer.name %><% end %></td>
              <% else %>
                <td><% if horse.owner %><%= horse.owner.name %><% end %></td>
              <% end %>
              <td><span class="label"><%= horse.status.name %></span></td>
              <td style="display:none;"><% if horse.owner%><%= horse.owner.name %><% end %></td>
              <td style="display:none;">
              <% if horse.equipment.any? %>
                <% horse.equipment.each do |equipment| %>
                  <%= equipment.name %>&nbsp;
                <% end %>
              <% else %>
                None
              <% end %>
              </td>
              <td>
                <%= link_to 'View Horse', horse, :class => 'btn btn-success btn-mini'%>
                <% if current_user.admin? %>
                  <%= link_to 'Edit', edit_horse_path(horse), :class => 'btn btn-warning btn-mini', 'data-no-turbolink' => true %>
                  <%= link_to 'Delete', horse, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-mini' %>
                <% end %>
              </td>
            </tr>
            <% end %>  
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  /* Formating function for row details */
  function fnFormatDetails ( oTable, nTr )
  {
    var aData = oTable.fnGetData( nTr );
    var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="inner-table">';
    sOut += '<tr><td>Horse Equipment/Medication:</td><td>'+aData[8]+'</td></tr>';
    sOut += '<tr><td>Owner:</td><td>'+aData[7]+'</td></tr>';
    sOut += '</table>';
     
    return sOut;
  }
</script>
