<div class="row">
	<div class="col-xs-3 horse-info-list-group">
		<ul class="list-group">
			<% @conditions.each do |condition| %>
			<li class="list-group-item">
				<div class="row">
					<div class="col-xs-10">
						<%= condition.name %>
					</div>
					<div class="col-xs-2">
						<input type="checkbox"></input>
					</div>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="col-xs-6">
		<div class="row">
			<div class="col-xs-12 horse-info">
				<h1><%= @horse.name %> (<%= @horse.POB %>)</h1>
				<% if @horse.DOB? %>
		            <h4><%= @horse.DOB.to_time.strftime('%b %d, %Y') %></h4>
				<% end %>
				<h4>(<%= @horse.starts %>-<%= @horse.firsts %>-<%= @horse.seconds %>-<%= @horse.thirds %>)</h4>
				<% if @horse.earnings? %>
		            <h4><%= number_to_currency(@horse.earnings, precision: 2) %></h4>
		      	<% end %>
			</div>
			<div class="col-xs-12">
				<table class="table table-condensed table-hover">
					<thead>
						<tr>
							<th>Race Description</th>
							<th>Total #</th>
							<th>I/C</th>
						</tr>
					</thead>
					<tbody>
						<% @races.each do |race| %>
							<tr>
								<td><%= race.description %></td>
								<td>5</td>
								<td><input type="checkbox"></input> / <input type="checkbox"></input></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-xs-3 horse-info-list-group">
		<ul class="list-group">
			<% @statuses.each do |status| %>
			<li class="list-group-item">
				<div class="row">
					<div class="col-xs-10">
						<%= status.name %>
					</div>
					<div class="col-xs-2">
						<input type="checkbox"></input>
					</div>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>

<%= link_to 'Edit', edit_horse_path(@horse) %> |
<%= link_to 'Back', horses_path %>
