<% content_for :javascript_includes do %>
  <%= javascript_include_tag "horse_show.js" %>
  <%= javascript_include_tag "horses.js" %>
<% end %>
<ul class="breadcrumb">
	<li><%= link_to 'Stable', horses_path %></li>
	<li class="active"><%= @horse.name %>
	<li><%= link_to 'Go To Race Menu', races_menu_path(:horse_id => @horse.id) %></li>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <div class="row">
        	<div class="col-md-3">
        		<h3>Conditions:</h3>
        		<div id="conditionPartial">
							<%= render 'condition' %>
						</div>
        	</div>
        	<div class="col-md-6">
        		<div class="center">
	        		<h2><%= @horse.name %> (<%= @horse.POB %>)</h2>
	        		<h4>Age: <% def age(dob)
	                        now = Time.now.utc.to_date
	                        now.year - dob.year - ((now.month > dob.month || (now.month == dob.month && now.day >= dob.day)) ? 0 : 1)
	                      end %>
	                      <%= age(@horse.DOB.to_date) %>
	            </h4>
	            <h4><%= @horse.week_running %> Week Running</h4>
							<h4><%= @startsLeft %> Starts Left</h4>
							<h4>(Starts: <%= @horse.starts %> Firsts: <%= @horse.firsts %>)</h4>
						</div>
						<table id="racestatus-table" class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Race Description</th>
									<th>Total #</th>
									<th>I/C</th>
									<th style="display: none;">Date</th>
									<th style="display: none;">Conditions</th>
									<th style="display: none;">Distance</th>
									<th style="display: none">Claiming Level</th>
								</tr>
							</thead>
							<tbody id="race-list">
								<% if @races %>
									<%= render 'races' %>
								<% end %>
							</tbody>
						</table>
        	</div>
	        <div class="col-md-3">
						<h4>Status:</h4>
						<%= render 'status' %>
						<h4>Last Win: </h4>
						<%= render 'last_win' %>
						<h4>Last Claiming Level: </h4>
						<%= render 'last_claiminglevel' %>
	        </div>
	      </div>
      </div>
    </div>
  </div>
</div>