<div class="row">
	<div class="col-xs-3 horse-info-list-group">
		<h4>Conditions:</h4>
		<ul>
			<% @current_conditions.each do |condition| %>
				<li><%= condition.condition.name %></li>
			<% end %>
		</ul>
		<%= link_to 'Change Conditions', horse_conditions_path, class: "btn btn-success btn-xs" %>
	</div>
	<div class="col-xs-6">
		<div class="row">
			<ol class="breadcrumb">
			  <li><%= link_to 'Stable', horses_path %></li>
			  <li class="active"><%= @horse.name %></li>
			</ol>
			<div class="col-xs-12 horse-info">
				<h1><%= @horse.name %> (<%= @horse.POB %>)</h1>
				<% if @horse.DOB? %>
		            <h4><%= @horse.DOB.to_time.strftime('%b %d, %Y') %></h4>
				<% end %>
				<h4>(<%= @horse.starts %>-<%= @horse.firsts %>-<%= @horse.seconds %>-<%= @horse.thirds %>)</h4>
				<% if @horse.earnings? %>
		            <h4><%= number_to_currency(@horse.earnings, precision: 2) %></h4>
		      	<% end %>
			</div>
			<div class="col-xs-12">
				<table class="table table-condensed table-hover">
					<thead>
						<tr>
							<th>Race Description</th>
							<th>Total #</th>
							<th>I/C</th>
						</tr>
					</thead>
					<tbody>
						<% @races.each do |race| %>
							<tr>
								<td><%= race.description %></td>
								<td>5</td>
								<td><input type="checkbox"></input> / <input type="checkbox"></input></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-xs-3 horse-info-list-group">
		<h4>Status:</h4>
		<p><%= @current_status.status.name %></p>
		<%= link_to 'Change Status', edit_horse_status_path(@current_status.id), class: "btn btn-success btn-xs" %>
	</div>
</div>
