	<div class="col-xs-12">
		<div class="row">
			<ol class="breadcrumb">
			  <li><%= link_to 'Stable', horses_path %></li>
			  <li class="active">Race Select</li>
			  <li><%= link_to @horse.name, horse_path(@horse)+"/profile" %></li>
			</ol>
			<div class="col-xs-12 horse-info">
				<h1><%= @horse.name %> (<%= @horse.POB %>)</h1>
				<% if @horse.DOB? %>
		            <h4><%= @horse.DOB.to_time.strftime('%b %d, %Y') %></h4>
				<% end %>
				<h4>(<%= @horse.starts %>-<%= @horse.firsts %>-<%= @horse.seconds %>-<%= @horse.thirds %>)</h4>
				<% if @horse.earnings? %>
		            <h4><%= number_to_currency(@horse.earnings, precision: 2) %></h4>
		      	<% end %>
			</div>
			<div class="col-xs-12">
				<table id="racestatus-table" class="table table-condensed table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Race Description</th>
							<th>Total #</th>
							<th>I/C</th>
						</tr>
					</thead>
					<tbody id="race-list">
						<% if @races %>
							<%= render 'races' %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
