<div class="row">
	<div class="col-xs-3 horse-info-list-group">
		<h4>Conditions:</h4>
		<%= render 'condition' %>
	</div>
	<div class="col-xs-6">
		<div class="row">
			<ol class="breadcrumb">
			  <li><%= link_to 'Stable', horses_path %></li>
			  <li class="active"><%= @horse.name %></li>
			</ol>
			<div class="col-xs-12 horse-info">
				<h1><%= @horse.name %> (<%= @horse.POB %>)</h1>
				<% if @horse.DOB? %>
		            <h4><%= @horse.DOB.to_time.strftime('%b %d, %Y') %></h4>
				<% end %>
				<h4>(<%= @horse.starts %>-<%= @horse.firsts %>-<%= @horse.seconds %>-<%= @horse.thirds %>)</h4>
				<% if @horse.earnings? %>
		            <h4><%= number_to_currency(@horse.earnings, precision: 2) %></h4>
		      	<% end %>
			</div>
			<div class="col-xs-12">
				<table class="table table-condensed table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Race Description</th>
							<th>Total #</th>
							<th>I/C</th>
						</tr>
					</thead>
					<tbody>
						<% if @races %>
							<% @races.each do |race| %>
								<tr class="top"  data-toggle="tooltip" data-placement="right" title="
								    Conditions: 
								    <% if race.conditions.any?
								      race.conditions.each do |condition| %>
								        <%= condition.name %>
								      <% end %>
								    <% else %>
								      None
								    <% end %>">
									<td><%= race.name %></td>
									<td><%= race.description %></td>
									<td>5</td>
									<td><input type="checkbox"></input> / <input type="checkbox"></input></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-xs-3 horse-info-list-group edit_status">
		<h4>Status:</h4>
		<%= render 'status' %>
	</div>
</div>
