<div class="row">
	<div class="col-xs-3 horse-info-list-group">
		<h4>Conditions:</h4>
		<%= render 'condition' %>
	</div>
	<div class="col-xs-6">
		<div class="row">
			<ol class="breadcrumb">
			  <li><%= link_to 'Stable', horses_path %></li>
			  <li class="active"><%= @horse.name %>
			</ol>
			<div class="col-xs-12 horse-info">
				<h1><%= @horse.name %> (<%= @horse.POB %>)</h1>
				<% if @horse.DOB? %>
		            <h4><%= @horse.DOB.to_time.strftime('%b %d, %Y') %></h4>
				<% end %>
				<h4>(<%= @horse.starts %>-<%= @horse.firsts %>)</h4>
			</div>
			<div class="col-xs-12">
				<table id="racestatus-table" class="table table-condensed table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Race Description</th>
							<th>Total #</th>
							<th>I/C</th>
						</tr>
					</thead>
					<tbody id="race-list">
						<% if @races %>
							<%= render 'races' %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="horse-info-list-group edit_status">
			<h4>Status:</h4>
			<%= render 'status' %>
		</div>
		<div class="horse-info-list-group">
			<h4>Last Win: </h4>
			<%= render 'last_win' %>
		</div>
		<div class="horse-info-list-group">
			<h4>Last Claiming Level: </h4>
			<%= render 'last_claiminglevel' %>
		</div>
	</div>
</div>
