<ul class="breadcrumb">
	<li><%= link_to 'Stable', horses_path %></li>
	<li class="active"><%= @horse.name %></li>
	<li><%= link_to 'Go To Race Menu', races_menu_path(:horse_id => @horse.id) %></li>
</ul>
<div class="row">
	<div class="col-md-12">
		<div class="grid simple">
			<div class="grid-body no-border">
				<div class="row">
					<div class="col-xs-12 col-md-3">
						<h4>Status:</h4>
						<%= render 'status' %>
						<h4>Equipment/Medication:</h4>
						<div id="equipmentPartial">
							<%= render 'equipment' %>
						</div>
					</div>
					<div class="col-xs-12 col-md-9">
						<div class="center">
							<h2><%= @horse.name %></h2>
							<h4>Trainer: <%= @horse.trainer.name%> | Owner: <%= @horse.owner.name%></h4>
						</div>
						<table id="racestatus-table" class="table table-condensed table-hover">
							<thead>
								<tr>
									<th>Type of Race</th>
									<th>Age / Sex</th>
									<th>Distance</th>
									<th>INT</th>
									<th>CON</th>
									<th>Priority</th>
									<th style="text-align: center;">Interested / Confirmed</th>
									<th style="display: none;"></th>
								</tr>
							</thead>
							<tbody id="race-list">
								<% if @races %>
									<%= render 'races' %>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
/* Formating function for row details */
	function fnFormatDetails ( oTable, nTr )
	{
		var aData = oTable.fnGetData( nTr );
		var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px; width: 100%;" class="inner-table">';
		sOut += '<tr><td class="condition-book">'+aData[8]+'</td></tr>';
		sOut += '</table>';

		return sOut;
	}
</script>