<%= simple_form_for(child) do |f| %>
	<div class="row">
		<div class="col-xs-12 condition-container">
			<div class="row">
				<div class="col-xs-12" style="text-align: center">
					<% if child.isOperator %>
				  		<%= f.select :value, options_for_select([["AND", 1], ["OR", 0]], child.value), {}, { :class => 'childSelector', :node => child.id } %>
				  	<% else %>
					  	<%= f.select :value, options_from_collection_for_select(Condition.all, :id, :categoryAndName, {:selected => child.value}), {:prompt => 'Condition'}, { :class => 'childSelector', :node => child.id } %>
				  	<% end %>
				</div>
				
					<div class="col-xs-12">
						<% if child.isOperator %>
		  					<button value="Add Condition" class="addCondition btn btn-success btn-mini" node="<%= child.id%>">Add Condition</button>
							<button class="addChildOperator btn btn-primary btn-mini" value="Add Child Operator" node="<%= child.id%>">Add Condition Group</button>
						<% end %>
						<button class="addParentOperator btn btn-info btn-mini" value="Add Parent Operator" node="<%= child.id%>">
							AND / OR</button>
					</div>
		  		
				<div class="col-xs-12">
					<button class="removeNode btn btn-danger btn-mini" value="Remove Node" node="<%= child.id%>">
						Remove
					</button>
				</div>
	  		</div>
		</div>
		<% old_child = child %>
		<div class="col-xs-12">
			<div class="row">
				<% if old_child.children.length > 0 %>
					<%= colSize = (12/old_child.children.length).floor 
						if colSize < 3
							colSize = 3
						end
					%>
				<% end %>
			  	<% old_child.children.each do |child| %>
			  		<div class="col-xs-<%= colSize %>">
			  			<%= render partial: 'childTree' , locals: { :child => child } %>
				  	</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>