<%= simple_form_for(@condition_node) do |f| %>
  	<%= f.error_notification %>
  	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 condition-container ">
					<h3><%= @condition_node.race_name %></h3>
					<h4><%= @condition_node.getExpressionString %></h4>
					<%= f.hidden_field :node_type, :value => 0 %>
				</div>
				<% if @condition_node.children.empty? %>
				  	<div class="col-xs-12 condition-container">
		  				<button value="Add Condition" class="addCondition btn btn-success btn-large" node="<%= @condition_node.id%>">Add Condition
		  				</button>
		  			</div>
		  		<% end %>
	  		</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<% if @condition_node.children.length > 0 %>
					<%= colSize = (12/@condition_node.children.length).floor 
						if colSize < 3
							colSize = 3
						end
					%>
				<% end %>
			  	<% @condition_node.children.each do |child| %>
			  		<div class="col-xs-<%= colSize %>">
			  			<%= render partial: 'childTree' , locals: { :child => child } %>
				  	</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>