<%= form_for(@tel) do |f| %>
  <% if @tel.errors.any? %>
  <div class="row">
    <div class="col-xs-12">
      <div id="error_explanation">
        <h2><%= pluralize(@tel.errors.count, "error") %> prohibited this tel from being saved:</h2>
        <ul>
        <% @tel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    </div>
    <div class="col-xs-12 col-md-6">  
      <div class="form-group">
        <%= f.label 'Weekend Start' %>
        <%= f.text_field :weekend_start, :autofocus => true, class: 'date-picker form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit :class => 'btn btn-success btn-sm'%>
        <%= link_to 'Back', tels_path, :class => 'btn btn-danger btn-sm' %>
      </div>
    </div>
  </div>
<% end %>