<div class="row">
  <div class="col-xs-6">
    <h2>Eligible <%= @day %> Races</h2>
    <div id="race-day" data-day="<%= @day %>"></div>
    <div id="dialog-confirm" title="Add Alternate to TEL?"></div>
    <%if current_user.admin? %>
      <table id="drag-table" class="table table-condensed table-hover">
    <% else %>
      <table class="table table-condensed table-hover generic-table">
    <% end %>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Purse</th>
          <th>Claiming Level</th>
          <th># Commited</th>
        </tr>
      </thead>
      <tbody>
        <% @races.each do |race| %>
          <tr class="top">
            <td><div class="invisible"><%= race.id %></div> <%= race.name %></td>
            <td><%= race.description %></td>
            <td>
              <% if race.claiming_purse? %>
                <%= number_to_currency(race.claiming_purse, precision: 2) %>
              <% else %>
                <%= number_to_currency(0, precision: 2) %>
              <% end %>
            </td>
            <td>
              <% if race.claiming_level? %>
                <%= number_to_currency(race.claiming_level, precision: 2) %>
              <% else %>
                <%= number_to_currency(0, precision: 2) %>
              <% end %>
            </td>
            <td><%= race.horseraces.where(:status => "Confirmed").count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-xs-6">
    <h2>Races to Run</h2>
    <table id="tel-table" class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Race Type</th>
          <th>Name</th>
          <th>Description</th>
          <th># Committed</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <div id="race-partial">
          <%= render 'races'%>
        </div>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12">
    <div class="row">
      <% if @day != "Friday" %>
        <div class="col-xs-3 well userbox">
          <%= link_to "Friday "+@friday.strftime('%b %d, %Y'), tels_friday_path %>
        </div>
      <% end %>
      <% if @day != "Saturday" %>
        <div class="col-xs-3 well userbox">    
          <%= link_to "Saturday "+@saturday.strftime('%b %d, %Y'), tels_saturday_path %>
        </div>
      <% end %>
      <% if @day != "Sunday" %>
        <div class="col-xs-3 well userbox">
          <%= link_to "Sunday "+@sunday.strftime('%b %d, %Y'), tels_sunday_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>






