<div class="row">
  <div class="col-xs-12">
    <h1>TEL Database For The Weekend Of <%= @friday %></h1>
    <table class="table table-condensed table-hover generic-table">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Description</th>
          <th>Purse</th>
          <th>Claiming Level</th>
          <th>Commited</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @races.each do |race| %>
          <tr class="top"  data-toggle="tooltip" data-placement="right" title="
                    Conditions: 
                    <% if race.conditions.any?
                      race.conditions.each do |condition| %>
                        <%= condition.name %>
                      <% end %>
                    <% else %>
                      None
                    <% end %>">
            <td>?</td>
            <td><%= race.name %></td>
            <td><%= race.description %></td>
            <td>
              <% if race.claiming_purse? %>
                <%= number_to_currency(race.claiming_purse, precision: 2) %>
              <% else %>
                <%= number_to_currency(0, precision: 2) %>
              <% end %>
            </td>
            <td>
              <% if race.claiming_level? %>
                <%= number_to_currency(race.claiming_level, precision: 2) %>
              <% else %>
                <%= number_to_currency(0, precision: 2) %>
              <% end %>
              <td>10</td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
