<ol class="breadcrumb">
  <li><%= link_to 'Meet List', meets_path %></li>
  <li><%= link_to @meet.name, @meet %></li>
  <li class="active">Week Of <%= @tel.start_date.strftime('%b %d, %Y') %></li>
</ol>
<div class="row">
  <div class="col-xs-12">
    <h2>Race Database For The Week Of <%= @tel.start_date.strftime('%b %d, %Y') %></h2>
    <%= link_to 'New Day', new_day_path({day: {:tel_id=> @tel.id}}), :class => 'btn btn-primary btn-xs' %>
    <% if !@tel.published %>
      <%= form_for(@tel) do |f| %>
        <%= f.hidden_field :published, :value => true %>
        <%= f.submit "Publish Tel", :class => 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
    <% if @tel.published %>
      <%= form_for(@tel) do |f| %>
        <%= f.hidden_field :published, :value => false %>
        <%= f.submit "Un-Publish Tel", :class => 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
    <% if !@tel.closed %>
      <%= form_for(@tel) do |f| %>
        <%= f.hidden_field :closed, :value => true %>
        <%= f.submit "Close Tel", :class => 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
    <% if @tel.closed %>
      <%= form_for(@tel) do |f| %>
        <%= f.hidden_field :closed, :value => false %>
        <%= f.submit "Open Tel", :class => 'btn btn-success btn-sm'%>
      <% end %>
    <% end %>
    <% @tel.days.each do |day| %>
      <div class="col-xs-3 well userbox">
        <%= link_to day.date.strftime('%A'), day %>
      </div>
    <% end %>
    <%= link_to 'Reset Races', '/tels/'+@tel.id.to_s+'/reset_races', :method=> :post, :class => 'btn btn-primary btn-mini' %>
  </div>
  <div class="col-xs-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <div class="row">
          <div class="col-xs-12">
            <table class="detailTable table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Commited</th>
                  <th style="display: none;">Conditions</th>
                  <th style="display: none;">Distance</th>
                </tr>
              </thead>
              <tbody>
                <% @races.each do |race| %>
                  <tr >
                    <td><%= race.name %></td>
                    <td><%= race.description %></td>
                    <td><%= race.horseraces.where(:status => "Confirmed").count %></td>
                    <td style="display: none;">
                      <% if race.conditions.any? %>
                        <% race.conditions.each do |condition| %>
                            | <%= condition.name %> |
                        <% end %>
                      <% else %>
                        | None |
                      <% end %>
                      </td>
                      <% if race.distance <= 1 %>
                        <% if race.distance_type == 'Furlongs' %>
                          <td style="display: none;"><%= race.distance %> Furlong</td>
                        <% else %>
                          <td style="display: none;"><%= race.distance %> Mile</td>
                        <% end %>
                      <% else %>
                        <td style="display: none;"><%= race.distance %> <%= race.distance_type %></td>
                      <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  /* Formating function for row details */
  function fnFormatDetails ( oTable, nTr )
  {
    var aData = oTable.fnGetData( nTr );
    var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="inner-table">';
    sOut += '<tr><td>Conditions: </td><td>'+aData[4]+'</td></tr>';
    sOut += '<tr><td>Distance:</td><td>'+aData[5]+'</td></tr>';
    sOut += '</table>';
   
    return sOut;
  }
</script>
