<div class="row">
  <div class="col-xs-12">
    <h1>Race Database For The Weekend Of <%= @tel.weekend_start.strftime('%b %d, %Y') %></h1>
    <div class="col-xs-3 well userbox">
      <%= link_to "Friday Tel "+@friday.strftime('%b %d, %Y'), '/tels/'+@tel.id.to_s+'/friday'%>
    </div>
    <div class="col-xs-3 well userbox">
      <%= link_to "Saturday Tel "+@saturday.strftime('%b %d, %Y'), '/tels/'+@tel.id.to_s+'/saturday' %>
    </div>
    <div class="col-xs-3 well userbox">
      <%= link_to "Sunday Tel "+@sunday.strftime('%b %d, %Y'), '/tels/'+@tel.id.to_s+'/sunday' %>
    </div>
    <h1>All Weekend Races</h1>
    <table id="tel-index-table" class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Purse</th>
          <th>Claiming Level</th>
          <th>Commited</th>
        </tr>
      </thead>
      <tbody>
        <% @races.each do |race| %>
          <tr class="top"  data-toggle="tooltip" data-placement="right" title="
                    Conditions: 
                    <% if race.conditions.any?
                      race.conditions.each do |condition| %>
                        <%= condition.name %>
                      <% end %>
                    <% else %>
                      None
                    <% end %>">
            <td><%= race.name %></td>
            <td><%= race.description %></td>
            <td>
              <% if race.claiming_purse? %>
                <%= number_to_currency(race.claiming_purse, precision: 2) %>
              <% else %>
                <%= number_to_currency(0, precision: 2) %>
              <% end %>
            </td>
            <td>
              <% if race.claiming_level? %>
                <%= number_to_currency(race.claiming_level, precision: 2) %>
              <% else %>
                <%= number_to_currency(0, precision: 2) %>
              <% end %>
              <td><%= race.horseraces.where(:status => "Confirmed").count %></td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
