<%= form_for(@last_win) do |f| %>
  <div class="col-xs-12 col-md-6">
  	<div class="form-group">
      <%= f.label 'Date' %>
      <%= date_field("last_win", "date") %>

      <div class="form-group">
        <%= f.label :distance_type %>
        <%= f.select :distance_type, options_for_select(["Furlongs", "Miles", "Yards"]) %>
      </div>
      <div class="form-group">
        <%= f.label :distance %>
        <%= f.select :distance, options_for_select(0..30) %>
      </div>
      <%= f.submit :class => 'btn btn-success btn-sm'%>
    </div>
  </div>
</div>
<% end %>
