<div class="row">
	<h1>
		<% if !current_user.nil? %>
			<%= current_user.name %>, 
		<% end %> 
			Welcome to Race Builder Pro
	</h1>
	<h5>Version: 2.0</h5>
	<% @entry_lists.each do |el| %>
	  <div class="col-xs-12">
	  	<h4>Entry List <%= el.date.strftime('%b %d, %Y') %></h4>
	  	<h4>Number of Races: <%= el.num_races %></h4>
	    <div class="grid simple">
	      <div class="grid-body no-border">
	        <div class="row">
	          <div class="col-xs-12">
	            <table class="genericTable table table-condensed table-hover">
	              <thead>
	                <tr>
	                  	<td>Type</td>
						<td>Name</td>
						<td>Interested</td>
						<td>Confirmed</td>
						<td>Priority</td>
						<th colspan="1"></th>
	                </tr>
	              </thead>
	              <tbody>
	                <% el.races.each do |race| %>
	                  	<tr>
							<td><%= race.type %></td>
							<td><%= race.name %></td>
							<td>
								<span class="badge badge-danger">
									<%= race.horseraces.where(:status => "Interested").count %>
								</span>
							</td>
							<td>
								<span class="badge badge-success">
									<%= race.horseraces.where(:status => "Confirmed").count %>
								</span>
							</td>
							<td>
								<% if race.category == 'Priority' %>
									<span class="label label-inverse">Yes</span>
								<% else %>
									<span class="label badge-danger">No</span>
								<% end %>
							</td>
							<td><%= link_to 'View', race, :class => 'btn btn-success btn-mini' %></td>
						</tr>
	                <% end %>
	              </tbody>
	            </table>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	<% end %>
	<% @tels.each do |tel| %>
	  <div class="col-xs-12">
	  	<h4>Entry List <%= tel.date.strftime('%b %d, %Y') %></h4>
	  	<h4>Number of Races: <%= tel.num_races %></h4>
	    <div class="grid simple">
	      <div class="grid-body no-border">
	        <div class="row">
	          <div class="col-xs-12">
	            <table class="genericTable table table-condensed table-hover">
	              <thead>
	                <tr>
	                  	<td>Type</td>
						<td>Name</td>
						<td>Interested</td>
						<td>Confirmed</td>
						<td>Priority</td>
						<th colspan="1"></th>
	                </tr>
	              </thead>
	              <tbody>
	                <% tel.races.each do |race| %>
	                  	<tr>
							<td><%= race.type %></td>
							<td><%= race.name %></td>
							<td>
								<span class="badge badge-danger">
									<%= race.horseraces.where(:status => "Interested").count %>
								</span>
							</td>
							<td>
								<span class="badge badge-success">
									<%= race.horseraces.where(:status => "Confirmed").count %>
								</span>
							</td>
							<td>
								<% if race.category == 'Priority' %>
									<span class="label label-inverse">Yes</span>
								<% else %>
									<span class="label badge-danger">No</span>
								<% end %>
							</td>
							<td><%= link_to 'View', race, :class => 'btn btn-success btn-mini' %></td>
						</tr>
	                <% end %>
	              </tbody>
	            </table>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	<% end %>

	<% if !current_user.admin? %>
		<h3>Current Stable:</h3>
		<div class="grid simple">
			<div class="grid-body no-border">
				<div class="row">
					<div class="col-xs-12">
						<table class="home-stable-sort table table-condensed table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th style="display:none;">Equipment / Medication</th>
									<th style="display:none;">Races</th>
									<th colspan="1"></th>
								</tr>
							</thead>
							<tbody>
								<% @horses.each do |horse| %>
								<tr>
									<td>
										<%= horse.name %>
									</td>
									<td style="display:none;">
										<% if horse.equipment.any? %>
							                <% horse.equipment.each do |equipment| %>
							                  <%= equipment.name %>&nbsp;
							                <% end %>
							              <% else %>
							                None
							              <% end %>
									</td>
									<td style="display:none;">
										<% racestatuses = horse.horseraces.where("status = ? OR status = ? AND horse_id = ?", "Interested", "Confirmed", horse.id) %>
										<% if racestatuses.any? %>
											<ul class="condition-list no-indent">
												<% racestatuses.each do |racestatus| %>
													<li><%= Race.find(racestatus.race_id).name %> - <%= racestatus.status %></li>
												<% end %>
											</ul>
										<% else %>
											None
										<% end %> 
									</td>
									<td><%= link_to 'Race Menu', races_menu_path(:horse_id => horse.id), :class => 'btn btn-success btn-mini' %>
								</tr>
								<% end %>  
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	
	<div class="col-xs-12">
		<h3>Races</h3>
		<div class="grid simple">
			<div class="grid-body no-border">
				<div class="row">
					<div class="col-xs-12">
						<table id="dashboard-admin-table" class="committed-sort table table-condensed table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Interested</th>
									<th>Confirmed</th>
									<th style="display:none;">Race Description</th>
									<th style="display: none;">Category</th>
				                  	<th style="display: none;">Stakes</th>
				                  	<th style="display: none;">Date</th>
									<th style="display:none;">Race Conditions</th>
									<th style="display:none;">Interested</th>
									<th style="display:none;">Committed</th>
									<th>Priority</th>
								</tr>
							</thead>
							<tbody>
								<% @races.each do |race| %>
								<tr>
									<td>
										<%= race.name %>
									</td>
									<td>
										<span class="badge badge-danger">
											<%= race.horseraces.where(:status => "Interested").count %>
										</span>
									</td>
									<td>
										<span class="badge badge-success">
											<%= race.horseraces.where(:status => "Confirmed").count %>
										</span>
									</td>
									<td style="display:none;">
										<%= race.description %>
									</td>
									<td style="display: none;"><%= race.category %></td>
						            <td style="display: none;"><%if race.stakes %>Yes<%else%>No<%end%></td>
						            <td style="display: none;">
						              <% if race.category == 'Priority' && race.race_date %>
						                <%= race.race_date.date.strftime('%b %d, %Y') %>
						              <% else %>
						                N/A
						              <% end %>
						            </td>
									<td style="display:none;">
										<% race.conditions.each do |condition| %>
										<%= condition.name %>&nbsp;
										<% end %>
									</td>
									<td style="display:none;">
										<% race.horseraces.where(:status => "Interested").each do |interested| %> 
											<% horse = Horse.find(interested.horse_id) %>
											<% if current_user.trainer? %>
												<% if horse.trainer_id == current_user.id %>
													<%= horse.name %>
												<% end %>
											<% elsif current_user.user?%>
												<% if horse.owner_id == current_user.id %>
													<%= horse.name %>
												<% end %>
											<% else %>
												<%= horse.name %>&nbsp;
											<% end %>	
										<% end %>
									</td>
									<td style="display:none;">
										<% race.horseraces.where(:status => "Confirmed").each do |confirmed| %>
											<% horse = Horse.find(confirmed.horse_id) %>
											<% if current_user.trainer? %>
												<% if horse.trainer_id == current_user.id %>
													<%= horse.name %>
												<% end %>
											<% elsif current_user.user?%>
												<% if horse.owner_id == current_user.id %>
													<%= horse.name %>
												<% end %>
											<% else %>
												<%= horse.name %>&nbsp;
											<% end %>
										<% end %>
									</td>
									<td>
										<% if race.category == 'Priority' %>
											<span class="label label-inverse">Yes</span>
										<% else %>
											<span class="label badge-danger">No</span>
										<% end %>
									</td>
								</tr>
								<% end %>  
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
/* Formating function for row details */
function fnFormatDetails ( oTable, nTr )
{
	var aData = oTable.fnGetData( nTr );
	var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="inner-table">';
	sOut += '<tr><td>Description:</td><td>'+aData[4]+'</td></tr>';
	    sOut += '<tr><td>Category:</td><td>'+aData[5]+'</td></tr>';
    sOut += '<tr><td>Stakes: </td><td>'+aData[6]+'</td></tr>';
    sOut += '<tr><td>Date:</td><td>'+aData[7]+'</td></tr>';
	sOut += '<tr><td>Race Conditions:</td><td>'+aData[8]+'</td></tr>';
	sOut += '<tr><td>Interested:</td><td>'+aData[9]+'</td></tr>';
	sOut += '<tr><td>Confirmed:</td><td>'+aData[10]+'</td></tr>';
	sOut += '</table>';

	return sOut;
}

function fnFormatDetailsSecond ( sTable, nTr )
{
	var aData = sTable.fnGetData( nTr );
	var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="inner-table">';
	sOut += '<tr><td>Equipment / Medication:</td><td>'+aData[2]+'</td></tr>';
	sOut += '<tr><td>Races:</td><td>'+aData[3]+'</td></tr>';
	sOut += '</table>';

	return sOut;
}


</script>

