<div class="row">
	<h1>
		<% if !current_user.nil? %>
			<%= current_user.name %>, 
		<% end %> 
			Welcome to Race Builder Pro
	</h1>
	<h5>Version: 2.0</h5>

	<% if @publishedTel %>
		<h4>Published Tel</h4>
		<table class="table table-condensed table-hover generic-table">
			<thead>
				<tr>
					<td>type</td>
					<td>name</td>
					<td>confirmed</td>
				</tr>
			</thead>
			<tbody>
				<% @publishedTel.days.each do |day| %>
				<% day.races.each do |race| %>
				<tr>
					<td><%= race.type %></td>
					<td><%= race.name %></td>
					<td><%= race.horseraces.where(:status => "Confirmed").count %></td>
				</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
	<% end %>

	<% if current_user.admin? %>
		<div class="col-xs-3">
			<h3>Pending Approvals</h3>
			<ul class="condition-list no-indent">
				<% @condition_requests.each do |notification| %>
				<li><%= Horse.find(notification.send_id).name %> <%= notification.action %> <%= Condition.find(notification.recv_id).name %>
					<%= link_to 'Approve', notification, method: :approve, :class => 'btn btn-primary btn-xs' %>
					<%= link_to 'Deny', notification, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %>
				</li>
				<% end %>
			</ul>
		</div>
		<div class="col-xs-3">
			<h3>Nomination Requests</h3>
			<ul class="condition-list no-indent">
				<% @nominations.each do |notification| %>
				<% @race = Race.find(notification.send_id) %>
				<li>Nominate <%= Horse.find(notification.recv_id).name %> For <%= @race.name %>
					<%= link_to 'Accept', notification, method: :approve, :class => 'btn btn-primary btn-xs' %>
					<%= link_to 'Deny', notification, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %>
					<%= link_to 'View Race', @race, :class => 'btn btn-info btn-xs' %>
				</li>
				<% end %>
			</ul>
		</div>

	<% else %>

		<div class="col-xs-3">
			<h3>Race Suggestions</h3>
			<ul class="condition-list no-indent">
				<% @suggestions.each do |notification| %>
				<li><%= Horse.find(notification.recv_id).name %> suggested to enter <%= Race.find(notification.send_id).name %>
					<%= link_to 'OK', notification, method: :delete, :class => 'btn btn-primary btn-xs' %>
					<%= link_to 'View Race', race_path(Race.find(notification.send_id)), :class => 'btn btn-danger btn-xs' %>
				</li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<% if !current_user.admin? %>
		<h4>Current Stable:</h4>
		<% @horses.each do |horse| %>
			<a href="<%= horse_path(horse) %>">
				<div class="col-xs-3 userbox well">
					<h4><%= horse.name %></h4>
					<ul class="condition-list no-indent">
						<li>Conditions:
							<% if horse.conditions.any? %>
							<ul class="condition-list no-indent">
								<% horse.conditions.each do |condition| %>
								<%= condition.name %>
								<% end %>
							</ul>
							<% else %>
							None
							<% end %> 
						</li>
						<li>Races:
							<% racestatuses = horse.horseraces.where("status = ? OR status = ? AND horse_id = ?", "Interested", "Confirmed", horse.id) %>
							<% if racestatuses.any? %>
							<ul class="condition-list no-indent">
								<% racestatuses.each do |racestatus| %>
								<li><%= Race.find(racestatus.race_id).name %> - <%= racestatus.status %></li>
								<% end %>
							</ul>
							<% else %>
							None
							<% end %> 
						</li>
					</ul>
				</div>
			</a>
		<% end %>
	<% end %>
	
	<div class="col-xs-12">
		<h3>Races</h3>
		<div class="grid simple">
			<div class="grid-body no-border">
				<div class="row">
					<div class="col-xs-12">
						<table id="dashboard-admin-table" class="committed-sort table table-condensed table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Interested</th>
									<th>Confirmed</th>
									<th style="display:none;">Race Description</th>
									<th style="display:none;">Race Conditions</th>
									<th style="display:none;">Interested</th>
									<th style="display:none;">Committed</th>
								</tr>
							</thead>
							<tbody>
								<% @races.each do |race| %>
								<tr>
									<td>
										<%= race.name %>
									</td>
									<td>
										<span class="badge badge-danger">
											<%= race.horseraces.where(:status => "Interested").count %>
										</span>
									</td>
									<td>
										<span class="badge badge-success">
											<%= race.horseraces.where(:status => "Confirmed").count %>
										</span>
									</td>
									<td style="display:none;">
										<%= race.description %>
									</td>
									<td style="display:none;">
										<% race.conditions.each do |condition| %>
										<%= condition.name %>&nbsp;
										<% end %>
									</td>
									<td style="display:none;">
										<% race.horseraces.where(:status => "Interested").each do |interested| %> 
										<%= interested.name %>&nbsp;
										<% end %>
									</td>
									<td style="display:none;">
										<% race.horseraces.where(:status => "Confirmed").each do |confirmed| %>
										<%= confirmed.name %>&nbsp;
										<% end %>
									</td>
								</tr>
								<% end %>  
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
/* Formating function for row details */
function fnFormatDetails ( oTable, nTr )
{
	var aData = oTable.fnGetData( nTr );
	var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;" class="inner-table">';
	sOut += '<tr><td>Description:</td><td>'+aData[4]+'</td></tr>';
	sOut += '<tr><td>Race Conditions:</td><td>'+aData[5]+'</td></tr>';
	sOut += '<tr><td>Interested:</td><td>'+aData[6]+'</td></tr>';
	sOut += '<tr><td>Confirmed:</td><td>'+aData[7]+'</td></tr>';
	sOut += '</table>';

	return sOut;
}
</script>

