<h3>Welcome to Race Builder Pro</h3>
<% if !current_user.nil? and current_user.role == "trainer" %>
	<h4>Hi Trainer:<%= current_user.name %>!</h4>
<% elsif !current_user.nil? and current_user.role == "user" %>
	<h4>Hi Owner: <%= current_user.name %>!</h4>
<% else %>
	<% if !current_user.nil? and current_user.admin? %>
		<h4>Hi Admin: <%= current_user.name %>!</h4>
	  <% @users.each do |user| %>
	    <p>User: <%=link_to user.email, user %> Role: <%= user.role unless user.role.nil? %></p>
	  <% end %>
	<% end %>
<% end %>
