<%= form_for(@horserace) do |f| %>
  <% if @horserace.errors.any? %>
  <div class="row">
    <div class="col-xs-12">
      <div id="error_explanation">
        <h2><%= pluralize(@horserace.errors.count, "error") %> prohibited this horse race from being saved:</h2>
        <ul>
        <% @horserace.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-6">  
    <div class="form-group">
      <div class="form-group">
        <%= f.label 'Horse' %>
        <%= f.collection_select :horse_id, @horses, :id, :name, {:include_blank => 'Please Select'}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'Race' %>
        <%= f.collection_select :race_id, @races, :id, :name, {:include_blank => 'Please Select'}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :entered %><br>
        <%= f.text_field :entered, :autofocus => true, class: 'date-picker form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit :class => 'btn btn-success btn-sm'%>
        <%= link_to 'Back', horseraces_path, :class => 'btn btn-danger btn-sm' %>
      </div>
    </div>
  </div>
<% end %>