<h1>Listing horseraces</h1>

<table>
  <thead>
    <tr>
      <th>Horse</th>
      <th>Race</th>
      <th>Entered</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horseraces.each do |horserace| %>
      <tr>
        <td><%= horserace.horse_id %></td>
        <td><%= horserace.race_id %></td>
        <td><%= horserace.entered %></td>
        <td><%= horserace.created_at %></td>
        <td><%= horserace.updated_at %></td>
        <td><%= link_to 'Show', horserace %></td>
        <td><%= link_to 'Edit', edit_horserace_path(horserace) %></td>
        <td><%= link_to 'Destroy', horserace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Horserace', new_horserace_path %>
