<%= form_for(@day) do |f| %>
  <% if @day.errors.any? %>
  <div class="row">
    <div class="col-xs-12">
      <div id="error_explanation">
        <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>
        <ul>
        <% @day.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    </div>
    <div class="col-xs-12 col-md-6">  
      <div class="form-group">
        <%= f.label 'Date' %>
        <%= date_field("day", "date") %>
        <%= f.hidden_field :tel_id, :value => @tel.id %>
      </div>
      <div class="form-group">
        <%= f.label 'Field Size' %>
        <%= f.select :field_size, options_for_select(0..20) %>
      </div>
      <div class="form-group">
        <%= f.submit :class => 'btn btn-success btn-sm'%>
        <%= link_to 'Back', @tel, :class => 'btn btn-danger btn-sm' %>
      </div>
    </div>
  </div>
<% end %>


