<div class="row">
  <ol class="breadcrumb">
    <li><%= link_to 'Meet List', meets_path %></li>
    <li><%= link_to @meet.name, @meet %></li>
    <li><%= link_to 'Week Of ' + @tel.start_date.strftime('%b %d, %Y'), @tel %></li>
    <li class="active"><%= @day.date.strftime('%A') %></li>
  </ol>
  <div class="col-xs-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <div class="row">
          <div class="col-xs-6">  	
            <h2><%= @day.date.strftime('%A') %>'s' Races</h2>
            <%= link_to 'Edit', edit_day_path(@day) %>
            <div id="day-id" data-day="<%= @day.id %>"></div>
            <div id="dialog-confirm" title="Add Race to TEL?"></div>
            <%if current_user.admin? %>
              <table id="drag-table" class="table table-condensed table-hover">
            <% else %>
              <table class="table table-condensed table-hover genericTable">
            <% end %>
              <thead>
                <tr>
                  <th>Name</th>
                  <th># Interested</th>
                  <th># Commited</th>
                </tr>
              </thead>
              <tbody>
                <% @alternates.each do |race| %>
                  <tr class="top">
                    <td><div class="invisible" style="display:none"><%= race.id %></div><%= race.name %></td>
                    <td><%= race.horseraces.where(:status => "Interested").count %></td>
                    <td><%= race.horseraces.where(:status => "Confirmed").count %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-xs-6">
            <h2>Races to Run</h2>
            <table id="day-table" class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Name</th>
                  <th># Interested</th>
                  <th># Commited</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <div id="race-partial">
                  <%= render 'races'%>
                </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
