<div class="row">
  <div class="col-xs-12">
    <h2>Meets</h2>
    <%= link_to 'New Meet', new_meet_path, :class => 'btn btn-primary btn-small' %>
  </div>
  <div class="col-xs-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <div class="row">
          <div class="col-xs-12">
            <table class="genericTable table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Race Days</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <% @meets.each do |meet| %>
                  <tr>
                    <td><% if meet.name %>
                      <%= meet.name %>
                      <%end%>
                    </td>
                    <td><%= meet.race_days %></td>
                    <td><%= meet.start_date.strftime('%b %d, %Y') %></td>
                    <td><%= meet.end_date.strftime('%b %d, %Y') %></td>
                    <td>
                      <%= link_to 'Show', meet, :class => 'btn btn-success btn-mini' %>
                      <%= link_to 'Edit', edit_meet_path(meet), :class => 'btn btn-warning btn-mini', 'data-no-turbolink' => true %>
                      <%= link_to 'Delete', meet, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-mini' %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>