<ul class="breadcrumb">
	<li><%= link_to 'Meet List', meets_path %></li>
	<li class="active"><%= @meet.name %></li>
</ul>
<div class="row">
  <div class="col-xs-12">
    <h2><%= @meet.name %></h2>
    <h4><%= @meet.race_days %> days</h4>
	<p>Start Date: <%= @meet.start_date.strftime('%b %d, %Y') %></p>
	<p>End Date: <%= @meet.end_date.strftime('%b %d, %Y') %></p>
	<% if current_user.admin? %>
		<%= link_to 'New Tel', new_tel_path({tel: {:meet_id=> @meet.id}}), :class => 'btn btn-primary btn-mini' %>
		<%= link_to 'Deactivate Horses', '/meets/'+@meet.id.to_s+'/deactivate_horses', :class => 'btn btn-danger btn-mini' %>
	<% end %>
  </div>
  <div class="col-xs-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <div class="row">
          <div class="col-xs-12">
            <table class="genericTable table table-condensed table-hover">
              	<thead>
					<tr>
						<th>Week Number</th>
						<th>Week Start</th>
						<th>Week End</th>
						<th colspan="1"></th>
					</tr>
				</thead>
				<tbody>
					<% @tels.each do |tel| %>
		        	<tr>
		        	<td><%= tel.week_number %></td>
		          	<td><%= tel.start_date.strftime('%b %d, %Y') %></td>
		          	<td><%= tel.end_date.strftime('%b %d, %Y') %></td>
		          	<td>
		          	<%= link_to 'Show', tel, :class => 'btn btn-primary btn-mini' %>
		            	<%= link_to 'Edit', edit_tel_path({tel: {:meet_id=> @meet.id}}), :class => 'btn btn-warning btn-mini', 'data-no-turbolink' => true %>
		            	<%= link_to 'Destroy', tel, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger   btn-mini' %></td>
		        	</tr>
	        		<% end %>
		    	</tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>