<div class="row">
  <div class="col-xs-12">
    <h1>Horse Conditions</h1>
    <%= link_to 'New Horse Condition', new_horse_condition_path, :class => 'btn btn-primary btn-xs'  %>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <% if current_user.admin? %>
          <th>ID</th>
          <% end %>
          <th>Horse</th>
          <th>Condition</th>
          <th>Value</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @horse_conditions.each do |horse_condition| %>
          <tr>
            <% if current_user.admin? %>
            <td><%= horse_condition.id %></td>
            <% end %>
            <td><%= horse_condition.horse.name %></td>
            <td><%= horse_condition.condition.name %></td>
            <td>
              <%= link_to 'Edit', edit_horse_condition_path(horse_condition), :class => 'btn btn-warning btn-xs'%>
              <%= link_to 'Destroy', horse_condition, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-xs' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
