<p id="notice"><%= notice %></p>

<p>
  <strong>Horse:</strong>
  <%= @horse_condition.horse_id %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @horse_condition.condition_id %>
</p>

<%= link_to 'Edit', edit_horse_condition_path(@horse_condition) %> |
<%= link_to 'Back', horse_conditions_path %>
