    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
      <div class="header-seperation">
        <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
          <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" >
            <div class="iconset top-menu-toggle-white"></div>
          </a> </li>
        </ul>
        <!-- BEGIN LOGO -->
        <a href="/"><h2>Race Builder Pro</h2><!-- <img src="assets/img/logo.png" class="logo" alt=""  data-src="assets/img/logo.png" data-src-retina="assets/img/logo2x.png" width="106" height="21"/> --></a>
        <!-- END LOGO -->
      </div>
      <% if user_signed_in? %>
      <!-- END RESPONSIVE MENU TOGGLER -->
      <div class="header-quick-nav" >
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="pull-left">
          <ul class="nav quick-section">
            <li class="quicklinks"> <a href="#" class="" id="layout-condensed-toggle" >
              <div class="iconset top-menu-toggle-dark"></div>
            </a> </li>
          </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
        <!-- BEGIN CHAT TOGGLER -->
        <div class="pull-right">
          <div class="chat-toggler"> <a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom"  data-content='' data-toggle="dropdown" data-original-title="Notifications">
            <div class="user-details">
              <div class="username">
                <% if current_user.admin?
                  @notifications = Notification.all - Notification.where("action = (?) OR action = (?) OR action = (?) OR action = (?) OR action = (?) OR action = (?) OR action = (?)", "Suggest", "Confirm Nomination", "Add Approved", "Remove Approved", "Remove Denied", "Add Denied", "Status Changed")
                  else
                    all_suggestions = Notification.where("action = (?) OR action = (?) OR action = (?) OR action = (?) OR action = (?) OR action = (?) OR action = (?)", "Suggest", "Confirm Nomination", "Add Approved", "Remove Approved", "Remove Denied", "Add Denied", "Status Changed")
                    inactive = Status.find_by_name('Inactive')
                    if current_user.trainer?
                      horses = Horse.where(:trainer_id => current_user.id).where.not(:status => inactive)
                      horse_ids = horses.pluck(:id)
                      @notifications = all_suggestions.where("recv_id IN (?)", horse_ids)
                    elsif current_user.user?
                      horses = Horse.where(:owner_id => current_user.id).where.not(:status => inactive)
                      horse_ids = horses.pluck(:id)
                      @notifications = all_suggestions.where("recv_id IN (?)", horse_ids)
                    end
                  end
                %>
                <% if @notifications %>
                  <span class="badge badge-important">
                    <%= @notifications.length %>
                  </span>
                <% end %> 
                <%= current_user.name %>
                </div>
            </div>
            <div class="iconset top-down-arrow"></div>
          </a>
          <div id="notification-list" style="display:none">
            <div style="width:500px">
              <% if @notifications %>
                <% @notifications.each do |notification| %>
                  <div class="notification-messages info">
                    <div class="user-profile"> <img src="/assets/img/profiles/horse1.jpg"  alt="" data-src="/assets/img/profiles/horse1.jpg" data-src-retina="/assets/img/profiles/horse1.jpg" width="35" height="35"> </div>
                    <% if notification.action == 'Suggest' %>
                      <div class="message-wrapper row">
                        <div class="col-xs-7">
                          <div class="heading">
                              <%= Horse.find(notification.recv_id).name %>
                          </div>
                          <div class="description pull-left"> Suggested to enter <%= Race.find(notification.send_id).name %></div>
                          <div class="date pull-left"><%= notification.created_at.strftime('%b %d, %Y') %></div>
                        </div>
                        <div class="col-xs-5">
                          <%= link_to 'OK', notification, method: :delete, :class => 'btn btn-primary btn-mini' %>
                          <%= link_to 'Race Menu', races_menu_path(:horse_id => notification.recv_id), :class => 'btn btn-danger btn-mini' %>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <% elsif notification.action == 'Nominate' %>%>
                      <div class="message-wrapper row">
                        <div class="col-xs-7">
                          <div class="heading">
                              <%= Horse.find(notification.recv_id).name %>
                          </div>
                          <div class="description pull-left"> Nominated for <%= Race.find(notification.send_id).name %></div>
                          <div class="date pull-left"><%= notification.created_at.strftime('%b %d, %Y') %></div>
                        </div>
                        <div class="col-xs-5">
                          <%= link_to 'Accept', notification, method: :approve, :class => 'btn btn-primary btn-mini' %>
                          <%= link_to 'Deny', notification, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-mini' %>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <% elsif notification.action == 'Add Approved' ||  notification.action == 'Remove Approved'%>
                      <div class="message-wrapper row">
                        <div class="col-xs-7">
                          <div class="heading">
                              <%= Horse.find(notification.recv_id).name %>
                          </div>
                          <div class="description pull-left"> Approved For <%= Equipment.find(notification.send_id).name %> Change</div>
                          <div class="date pull-left"><%= notification.created_at.strftime('%b %d, %Y') %></div>
                        </div>
                        <div class="col-xs-5">
                          <%= link_to 'OK', notification, method: :delete, :class => 'btn btn-danger btn-mini' %>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <% elsif notification.action == 'Add Denied' ||  notification.action == 'Remove Denied'%>
                      <div class="message-wrapper row">
                        <div class="col-xs-7">
                          <div class="heading">
                              <%= Horse.find(notification.recv_id).name %>
                          </div>
                          <div class="description pull-left"> Denied For <%= Equipment.find(notification.send_id).name %> Change</div>
                          <div class="date pull-left"><%= notification.created_at.strftime('%b %d, %Y') %></div>
                        </div>
                        <div class="col-xs-5">
                          <%= link_to 'OK', notification, method: :delete, :class => 'btn btn-danger btn-mini' %>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <% elsif notification.action == 'Status Changed' ||  notification.action == 'Remove Denied'%>
                      <div class="message-wrapper row">
                        <div class="col-xs-7">
                          <div class="heading">
                              <%= Horse.find(notification.recv_id).name %>
                          </div>
                          <div class="description pull-left"> Now On <%= Status.find(notification.send_id).name %></div>
                          <div class="date pull-left"><%= notification.created_at.strftime('%b %d, %Y') %></div>
                        </div>
                        <div class="col-xs-5">
                          <%= link_to 'OK', notification, method: :delete, :class => 'btn btn-danger btn-mini' %>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <% elsif notification.action == 'Confirm Nomination' %>
                      <div class="message-wrapper row">
                        <div class="col-xs-7">
                          <div class="heading">
                              <%= Horse.find(notification.recv_id).name %>
                          </div>
                          <div class="description pull-left"> Confirm for <%= Race.find(notification.send_id).name %></div>
                          <div class="date pull-left"><%= notification.created_at.strftime('%b %d, %Y') %></div>
                        </div>
                        <div class="col-xs-5">
                          <%= link_to 'OK', notification, method: :approve, :class => 'btn btn-primary btn-mini' %>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <% else %>
                      <div class="message-wrapper row">
                        <div class="col-xs-7">
                          <div class="heading">
                              <%= Horse.find(notification.send_id).name %>
                          </div>
                          <div class="description pull-left">Requested to <%= notification.action %> <%= Equipment.find(notification.recv_id).name %></div>
                          <div class="date pull-left"><%= notification.created_at.strftime('%b %d, %Y') %></div>
                        </div>
                        <div class="col-xs-5">
                          <%= link_to 'Approve', notification, method: :approve, :class => 'btn btn-primary btn-mini' %>
                          <%= link_to 'Deny', notification, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-mini' %>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                    <% end %>
                <% end %>
              <% else %>
                <p>No Notifications </p>
              <% end %>
            </div>
          </div>
          <div class="profile-pic"><img src="/assets/img/profiles/horse2.jpg"  alt="" data-src="/assets/img/profiles/horse2.jpg" data-src-retina="/assets/img/profiles/horse2.jpg" width="69" height="69" /></div>
        </div>
        <ul class="nav quick-section ">
          <li class="quicklinks"> <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
            <div class="iconset top-settings-dark "></div>
          </a>
          <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
            <li>
              <%= link_to edit_user_registration_path do %>
                My Account
              <% end %>
            </li>
            <%if current_user.admin? %>
              <li class="divider"></li>
              <li><%= link_to 'Manage Users', users_path %></li>
              <li><%= link_to 'Activity Log', activities_path %></li>
            <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- END CHAT TOGGLER -->
  </div>
  <% end %>
  <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END TOP NAVIGATION BAR -->