    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="navbar-inner">
      <div class="header-seperation">
        <ul class="nav pull-left notifcation-center" id="main-menu-toggle-wrapper" style="display:none">
          <li class="dropdown"> <a id="main-menu-toggle" href="#main-menu"  class="" >
            <div class="iconset top-menu-toggle-white"></div>
          </a> </li>
        </ul>
        <!-- BEGIN LOGO -->
        <a href="index.html"><h2>Race Builder Pro</h2><!-- <img src="assets/img/logo.png" class="logo" alt=""  data-src="assets/img/logo.png" data-src-retina="assets/img/logo2x.png" width="106" height="21"/> --></a>
        <!-- END LOGO -->
      </div>
      <% if user_signed_in? %>
      <!-- END RESPONSIVE MENU TOGGLER -->
      <div class="header-quick-nav" >
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="pull-left">
          <ul class="nav quick-section">
            <li class="quicklinks"> <a href="#" class="" id="layout-condensed-toggle" >
              <div class="iconset top-menu-toggle-dark"></div>
            </a> </li>
          </ul>
          <ul class="nav quick-section">
            <li class="quicklinks"> <a href="#" class="" >
              <div class="iconset top-reload"></div>
            </a> </li>
          </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
        <!-- BEGIN CHAT TOGGLER -->
        <div class="pull-right">
          <div class="chat-toggler"> <a href="#" class="dropdown-toggle" id="my-task-list" data-placement="bottom"  data-content='' data-toggle="dropdown" data-original-title="Notifications">
            <div class="user-details">
              <div class="username"> <span class="badge badge-important">2</span> <%= current_user.name %></div>
            </div>
            <div class="iconset top-down-arrow"></div>
          </a>
          <div id="notification-list" style="display:none">
            <div style="width:300px">
              <div class="notification-messages info">
                <div class="user-profile"> <img src="/assets/img/profiles/d.jpg"  alt="" data-src="/assets/img/profiles/d.jpg" data-src-retina="/assets/img/profiles/d2x.jpg" width="35" height="35"> </div>
                <div class="message-wrapper">
                  <div class="heading"> Equipment Request </div>
                  <div class="description"> Request for Blinders</div>
                  <div class="date pull-left"> A min ago </div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="notification-messages success">
                <div class="user-profile"> <img src="/assets/img/profiles/h.jpg"  alt="" data-src="/assets/img/profiles/h.jpg" data-src-retina="/assets/img/profiles/h2x.jpg" width="35" height="35"> </div>
                <div class="message-wrapper">
                  <div class="heading"> You have got 150 messages </div>
                  <div class="description"> 150 newly unread messages in your inbox </div>
                  <div class="date pull-left"> An hour ago </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="profile-pic"> <img src="/assets/img/profiles/avatar_small.jpg"  alt="" data-src="/assets/img/profiles/avatar_small.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="35" height="35" /> </div>
        </div>
        <ul class="nav quick-section ">
          <li class="quicklinks"> <a data-toggle="dropdown" class="dropdown-toggle  pull-right " href="#" id="user-options">
            <div class="iconset top-settings-dark "></div>
          </a>
          <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="user-options">
            <li>
              <%= link_to edit_user_registration_path do %>
                My Account
              <% end %>
            </li>
            <%if current_user.admin? %>
              <li class="divider"></li>
              <li><%= link_to 'Manage Users', users_path %></li>
              <li><%= link_to 'Public Activity', activities_path %></li>
            <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to destroy_user_session_path, :method => :delete do %>
                <i class="fa fa-power-off"></i>&nbsp;&nbsp;Log Out
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- END CHAT TOGGLER -->
  </div>
  <% end %>
  <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END TOP NAVIGATION BAR -->