<%# add navigation links to this file %>
<ul class="nav navbar-nav">
	<li><%= link_to 'Stable', horses_path %></li>
	<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Schedule <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><%= link_to 'Protocol + Stakes', races_schedule_path %></li>
				<li><%= link_to 'Stakes', races_stakes_path %></li>
			</ul>
		</li>
	<li><%= link_to 'Race Menu', races_menu_path %></li>
	<%if current_user.admin? %>
		<li><%= link_to 'Race List', races_path %></li>
		<li><%= link_to 'Meets', meets_path %></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><%= link_to 'Conditions', conditions_path %></li>
				<li><%= link_to 'Categories', categories_path %></li>
				<li><%= link_to 'Statuses', statuses_path %></li>
			</ul>
		</li>
	<% end %>
</ul>
<ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
		<ul class="dropdown-menu">
  			<li><%= link_to 'Edit account', edit_user_registration_path %></li>
  			<% if current_user.role == "admin" %>
  				<li class="divider"></li>
  				<li><%= link_to 'Manage Users', users_path %></li>
  				<li class="divider"></li>
  				<li><%= link_to 'Public Activity', activities_path %></li>
			<% end %>
			<li class="divider"></li>
			<% if user_signed_in? %>
			  <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
			<% else %>
			  <li><%= link_to 'Login', new_user_session_path %></li>
			<% end %>
		</ul>
	</li>
</ul>

