<!-- BEGIN MINI-PROFILE -->
<div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
  <div class="user-info-wrapper">
    <div class="profile-wrapper"><img src="/assets/img/profiles/horse2.jpg"  alt="" data-src="/assets/img/profiles/horse2.jpg" data-src-retina="/assets/img/profiles/horse2.jpg" width="69" height="69" /></div>
    <div class="user-info">
      <div class="greeting">Welcome</div>
      <div class="username"><%= current_user.name %></div>
      <div class="status">Status<a href="#">
        <div class="status-icon green"></div>
        Online</a>
      </div>
    </div>
  </div>
  <!-- END MINI-PROFILE -->
  <!-- BEGIN SIDEBAR MENU -->
  <p class="menu-title">Browse <span class="pull-right"><a href="javascript:;"><i class="fa fa-refresh"></i></a></span></p>
  <ul>
    <li class="">
      <%= link_to root_path do %>
      <i class="fa fa-dashboard"></i><span class="title">Homepage</span> 
      <% end %>
    </li>
    <%if current_user.admin? %>
    <li class="">
      <%= link_to horses_path do %>
      <i class="fa fa-home"></i>
      <span class="title">Inventory</span>
      <% end %>
    </li>
    <% end %>
    <li class="">
      <%= link_to races_menu_path do %>
      <i class="fa fa-flag-checkered"></i><span class="title">Race Menu</span> 
      <% end %>
    </li>
    <li class=""> <a href="javascript:;"> <i class="fa fa-calendar-o"></i><span class="title">Schedule</span> <span class="arrow "></span></a>
      <ul class="sub-menu">
        <li><%= link_to 'Priority + Stakes', races_schedule_path %></li>
        <li><%= link_to 'Stakes', races_stakes_path %></li>
      </ul>
    </li>
  </ul>
  <%if current_user.admin? %>
  <p class="menu-title">Admin <span class="pull-right"><a href="javascript:;"><i class="fa fa-refresh"></i></a></span></p>
  <ul>
    <li class="">
      <li class=""> <a href="javascript:;"> <i class="fa fa-calendar-o"></i><span class="title">Meets</span> <span class="arrow "></span></a>
        <ul class="sub-menu">
          <li><%= link_to 'All', meets_path %></li>
          <% Meet.all.each do |meet| %>
          <li><%= link_to meet.name, meet %></li>
          <% end %>
        </ul>
      </li>
      <li class="">
        <%= link_to races_path do %>
        <i class="fa fa-flag-checkered"></i><span class="title">Races</span> 
        <% end %>
      </li>
      <li class=""> <a href="javascript:;"> <i class="fa fa-calendar-o"></i><span class="title">Options</span> <span class="arrow "></span></a>
        <ul class="sub-menu">
          <li><%= link_to 'Race Conditions', conditions_path %></li>
          <li><%= link_to 'Condition Categories', categories_path %></li>
          <li><%= link_to 'Equipment & Medication', equipment_index_path %></li>
          <li><%= link_to 'Horse Status', statuses_path %></li>
        </ul>
      </li>
    </ul>
    <% end %>
    <div class="clearfix"></div>
    <!-- END SIDEBAR MENU -->
  </div>